flow.json
[{"id":"52ed3af3.19d4a4","type":"tab","label":"Instrument connections","disabled":false,"info":""},{"id":"a7505970.eda628","type":"tab","label":"DCP 405","disabled":false,"info":""},{"id":"b412d483.ab8908","type":"tab","label":"Basic test (without calibation)","disabled":false,"info":""},{"id":"ced637bb.5a9148","type":"tab","label":"HW OVP","disabled":false,"info":""},{"id":"19053cc8.6ac013","type":"tab","label":"Rsense","disabled":false,"info":""},{"id":"8c37b2b8.3d6c9","type":"tab","label":"DCM 224","disabled":false,"info":""},{"id":"de87d3cf.70f61","type":"subflow","name":"BB3 #1 Check Errors","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"1efe727e.ca783e"}]}],"out":[{"x":1080,"y":40,"wires":[{"id":"4576e7d5.295258","port":1}]},{"x":1080,"y":220,"wires":[{"id":"6c83ea0d.726904","port":1}]}],"env":[],"color":"#DDAA99","outputLabels":["OK","ERROR"]},{"id":"dabf709f.40a93","type":"ui_group","z":"","name":"Basic test (without calibation)","tab":"8b9c77ba.9da148","order":2,"disp":true,"width":24,"collapse":true},{"id":"8b9c77ba.9da148","type":"ui_tab","z":"","name":"DC405","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"737fae45.4583f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"BB3 ATE","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3fa8ab8f.567384","type":"ui_group","z":"","name":"CH1","tab":"","order":1,"disp":true,"width":"18","collapse":false},{"id":"e701286.3ff23d8","type":"bb3-connection","z":"","name":"BB3 #1","host":"EEZ-BB3-1","port":"5025","autoConnect":true},{"id":"f21fe587.9c68d8","type":"bb3-connection","z":"","name":"BB3 #2","host":"EEZ-BB3-2","port":"5025"},{"id":"b4e40291.62333","type":"ui_group","z":"","name":"HW OVP","tab":"8b9c77ba.9da148","order":3,"disp":true,"width":24,"collapse":true},{"id":"791b1a80.48a154","type":"ui_group","z":"","name":"Rsense","tab":"8b9c77ba.9da148","order":4,"disp":true,"width":24,"collapse":true},{"id":"f6308dc0.fea5d","type":"ui_group","z":"","name":"Summary","tab":"8b9c77ba.9da148","order":1,"disp":true,"width":24,"collapse":true},{"id":"8a1876f0.53b9b8","type":"ui_tab","z":"","name":"DCM224","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"b1090f9a.928bf","type":"ui_group","z":"","name":"Summary","tab":"8a1876f0.53b9b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4810d2e6.bb5b8c","type":"ui_tab","z":"","name":"Overview","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"2ec5bfb0.8976d","type":"ui_group","z":"","name":"BB3 #1","tab":"4810d2e6.bb5b8c","order":1,"disp":true,"width":"6","collapse":false},{"id":"a1f98b8e.b7b1b8","type":"ui_group","z":"","name":"BB3 #2","tab":"4810d2e6.bb5b8c","order":2,"disp":true,"width":"6","collapse":false},{"id":"42aa3a93.d544b4","type":"ui_tab","z":"","name":"DCP405 wiring","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"9e429f56.d0f7e","type":"ui_group","z":"","name":"Default","tab":"42aa3a93.d544b4","order":1,"disp":true,"width":24,"collapse":false},{"id":"507d65d0.6a83ac","type":"ui_spacer","name":"spacer","group":"f6308dc0.fea5d","order":1,"width":2,"height":1},{"id":"54268fcf.324ff","type":"ui_spacer","name":"spacer","group":"f6308dc0.fea5d","order":3,"width":16,"height":1},{"id":"395ecc7a.d0e9b4","type":"ui_spacer","name":"spacer","group":"dabf709f.40a93","order":1,"width":2,"height":1},{"id":"74363233.28582c","type":"ui_spacer","name":"spacer","group":"dabf709f.40a93","order":3,"width":16,"height":1},{"id":"9b8645ae.41b448","type":"ui_spacer","name":"spacer","group":"b4e40291.62333","order":1,"width":2,"height":1},{"id":"8d948ac4.bb80b8","type":"ui_spacer","name":"spacer","group":"b4e40291.62333","order":3,"width":16,"height":1},{"id":"1d1bd216.f510ce","type":"ui_spacer","name":"spacer","group":"791b1a80.48a154","order":1,"width":2,"height":1},{"id":"d2205285.8c63d","type":"ui_spacer","name":"spacer","group":"791b1a80.48a154","order":3,"width":16,"height":1},{"id":"59c9893d.212678","type":"delay","z":"b412d483.ab8908","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":680,"wires":[["86d2a76c.598638"]]},{"id":"e6fd1ad2.fde6a8","type":"switch","z":"b412d483.ab8908","name":"Check standby power","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0.02","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":1100,"wires":[["306ce49c.81716c"],["e5bccfb0.46a74"]],"outputLabels":["ERROR","OK"]},{"id":"6ee4f5a4.318edc","type":"switch","z":"b412d483.ab8908","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"\"\"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1300,"wires":[["4164072f.7c3ae8"],["c4d97aa2.755578","d0fc415a.eef48"]],"outputLabels":["Not initialized","OK"]},{"id":"a1ada453.c670b8","type":"delay","z":"b412d483.ab8908","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":1480,"wires":[["db99051e.189738"]]},{"id":"4176f57d.97142c","type":"switch","z":"b412d483.ab8908","name":"Check output voltage","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"24.5","vt":"num","v2":"25.5","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":2180,"wires":[["386ba1bb.d0173e"],["6a32cee4.eceb7"]],"outputLabels":["OK","ERROR"]},{"id":"d417c25.f49994","type":"switch","z":"b412d483.ab8908","name":"Check OCP trip","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":860,"wires":[["2bd240a6.3a253"],["a001877f.6f8b28"]],"outputLabels":["ERROR","OK"]},{"id":"b19b88f.5115d78","type":"switch","z":"b412d483.ab8908","name":"Check output current","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0.045","vt":"num","v2":"0.075","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":2400,"wires":[["b4b0a7b3.661158"],["e62a69b8.406aa8"]],"outputLabels":["OK","ERROR"]},{"id":"d1932baf.c64528","type":"delay","z":"b412d483.ab8908","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":2360,"wires":[["aae927d9.b8c308"]]},{"id":"a0afb4f4.a9e588","type":"delay","z":"b412d483.ab8908","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":2640,"wires":[["73f4ab6c.be1854"]]},{"id":"3b7acc95.515c24","type":"switch","z":"b412d483.ab8908","name":"Check output current","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0.015","vt":"num","v2":"0.035","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":2680,"wires":[["2c9e0739.ec89a8"],["66c9e222.4e6bfc"]],"outputLabels":["OK","ERROR"]},{"id":"a333985f.320038","type":"delay","z":"b412d483.ab8908","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":2920,"wires":[["d94e2c00.ce4a1"]]},{"id":"3cf03bfc.7660a4","type":"switch","z":"b412d483.ab8908","name":"Check output current","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"4.8","vt":"num","v2":"5.2","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":2960,"wires":[["c01a649.479b098"],["4f923ec4.92f04"]],"outputLabels":["OK","ERROR"]},{"id":"bc69c847.97de48","type":"delay","z":"b412d483.ab8908","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":3240,"wires":[["e2bc334c.7a90c","50cfcc94.096d24"]]},{"id":"32007166.0184fe","type":"switch","z":"ced637bb.5a9148","name":"Check OVP trip","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":540,"wires":[["d47f2adb.5bfa48","2129fefa.5c8762"],["e1d248f7.bbb1a8"]],"outputLabels":["TRIPPED","NOT TRIPPED"]},{"id":"31377b1d.aa5464","type":"delay","z":"ced637bb.5a9148","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":480,"wires":[["f30b1bf0.d159e8"]]},{"id":"b17c0324.b3b22","type":"delay","z":"19053cc8.6ac013","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":460,"wires":[["2c66f40a.fd23ac"]]},{"id":"77f1c279.02e18c","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"route:close (@203)","x":220,"y":340,"wires":[["63a45afa.618c84"]]},{"id":"f9b555a1.9c3818","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"curr:prot:stat 1","x":230,"y":560,"wires":[["83cc941b.8cbd18"]]},{"id":"83cc941b.8cbd18","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"curr:prot:del 0.01","x":470,"y":560,"wires":[["8b5e35e2.c43448"]]},{"id":"8b5e35e2.c43448","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"volt 30V","x":210,"y":600,"wires":[["98e0a03.2fd116"]]},{"id":"98e0a03.2fd116","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"curr 30mA","x":450,"y":600,"wires":[["48b5fb95.825434"]]},{"id":"48b5fb95.825434","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"sens:curr:rang 5","x":230,"y":640,"wires":[["151942a9.300e1d"]]},{"id":"151942a9.300e1d","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"outp 1","x":440,"y":640,"wires":[["59c9893d.212678"]]},{"id":"275192f6.d2b89e","type":"bb3-query","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","query":"curr:prot:trip?","x":220,"y":860,"wires":[["d417c25.f49994"]]},{"id":"f16b3186.5686b","type":"bb3-query","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","query":"meas:curr?","x":220,"y":1100,"wires":[["e6fd1ad2.fde6a8"]]},{"id":"4164072f.7c3ae8","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"INST:MEMO 3,0,2,405","x":250,"y":1360,"wires":[["bad3f615.fe5d58"]]},{"id":"bad3f615.fe5d58","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"INST:MEMO 3,2,2,#H0302","x":260,"y":1400,"wires":[["d8585648.075cb8"]]},{"id":"d8585648.075cb8","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"INST:MEMO 3,4,2,#HFFFF","x":270,"y":1440,"wires":[["4ab5a655.8154f8"]]},{"id":"b0a811a4.9658f","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"syst:res","x":210,"y":1540,"wires":[["22fa6b71.e85244","61cca414.d9ae4c"]]},{"id":"5e37866e.31b428","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"INST (@301)","x":220,"y":2100,"wires":[["59c8016f.55fbf"]]},{"id":"59c8016f.55fbf","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"VOLT 25","x":430,"y":2100,"wires":[["24d9ea47.280366"]]},{"id":"24d9ea47.280366","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"CURR 0.06","x":220,"y":2140,"wires":[["17f34d2e.a08323"]]},{"id":"83ffcdfe.5830d","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"route:open (@203)","x":240,"y":2360,"wires":[["d1932baf.c64528"]]},{"id":"a6df95b.8caca68","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"CURR 0.025","x":220,"y":2640,"wires":[["a0afb4f4.a9e588"]]},{"id":"3453817c.4f8e9e","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"CURR 5","x":210,"y":2920,"wires":[["a333985f.320038"]]},{"id":"f4bb6795.1545d8","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"outp 0","x":200,"y":3200,"wires":[["ce6e321d.3efb4"]]},{"id":"ce6e321d.3efb4","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"route:close (@203)","x":420,"y":3200,"wires":[["bc69c847.97de48"]]},{"id":"17f34d2e.a08323","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"OUTP 1","x":430,"y":2140,"wires":[["1528d8cd.afbd07"]]},{"id":"33f1505d.4c056","type":"bb3-query","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","query":"SYSTem:SLOT:MODel? 3","x":260,"y":1300,"wires":[["6ee4f5a4.318edc"]]},{"id":"6f04e8eb.e41af8","type":"bb3-query","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","query":"meas:volt?","x":220,"y":2180,"wires":[["4176f57d.97142c"]]},{"id":"aae927d9.b8c308","type":"bb3-query","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","query":"meas:curr?","x":220,"y":2400,"wires":[["b19b88f.5115d78"]]},{"id":"73f4ab6c.be1854","type":"bb3-query","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","query":"meas:curr?","x":220,"y":2680,"wires":[["3b7acc95.515c24"]]},{"id":"d94e2c00.ce4a1","type":"bb3-query","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","query":"meas:curr?","x":220,"y":2960,"wires":[["3cf03bfc.7660a4"]]},{"id":"ce4e1cca.1b4f7","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"INST (@301)","x":220,"y":300,"wires":[["4a27a4bb.0517dc"]]},{"id":"4a27a4bb.0517dc","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"outp 0","x":420,"y":300,"wires":[["d80ccab8.f25508"]]},{"id":"d80ccab8.f25508","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"volt:prot:stat 1","x":650,"y":300,"wires":[["1d59591f.c7a317"]]},{"id":"1d59591f.c7a317","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"volt:prot:type HW","x":460,"y":340,"wires":[["c806d61a.de4748"]]},{"id":"c806d61a.de4748","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"outp:dpr 0","x":690,"y":340,"wires":[["d97f8018.674b8"]]},{"id":"d97f8018.674b8","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"volt 5","x":420,"y":380,"wires":[["1e59ce1f.22c752"]]},{"id":"1e59ce1f.22c752","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"route:open (@211)","x":240,"y":420,"wires":[["347b85e7.86d55a"]]},{"id":"347b85e7.86d55a","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"INST (@201)","x":480,"y":420,"wires":[["ee66ef88.9afbe"]]},{"id":"ee66ef88.9afbe","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"volt 8","x":680,"y":420,"wires":[["66395578.e26aec"]]},{"id":"66395578.e26aec","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"INST (@301)","x":220,"y":480,"wires":[["cd0c068a.dae488"]]},{"id":"cd0c068a.dae488","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"outp 1","x":420,"y":480,"wires":[["31377b1d.aa5464"]]},{"id":"bc5c3a2f.161ca8","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"outp:prot:clear","x":210,"y":800,"wires":[["b2ea8f87.c22cb"]]},{"id":"b2ea8f87.c22cb","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"route:close (@211)","x":500,"y":800,"wires":[["b983a36e.b09fc"]]},{"id":"b983a36e.b09fc","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"outp:dpr 1","x":190,"y":860,"wires":[["49650454.e1bbfc","24c8a7a7.0253d8"]]},{"id":"f30b1bf0.d159e8","type":"bb3-query","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","query":"volt:prot:trip?","x":220,"y":540,"wires":[["32007166.0184fe"]]},{"id":"5b5b6424.4c981c","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"*cls","x":170,"y":240,"wires":[["bf87748.44c0d88"]]},{"id":"bf87748.44c0d88","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"route:close (@211:246)","x":390,"y":240,"wires":[["fa3f1d55.3e0da"]]},{"id":"fa3f1d55.3e0da","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"outp 1","x":180,"y":280,"wires":[["cac77876.360df8"]]},{"id":"cac77876.360df8","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"INST (@301)","x":380,"y":280,"wires":[["da5c85d5.6f94e8"]]},{"id":"da5c85d5.6f94e8","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"volt 10","x":180,"y":320,"wires":[["a588416a.81e12"]]},{"id":"a588416a.81e12","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"curr 30mA","x":370,"y":320,"wires":[["9f0a07a4.194868"]]},{"id":"5c162048.29a05","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"outp 0","x":160,"y":420,"wires":[["76fc8b1f.4e3144"]]},{"id":"76fc8b1f.4e3144","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"volt:sens EXT","x":370,"y":420,"wires":[["5f8eaeeb.6893"]]},{"id":"5f8eaeeb.6893","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"route:open (@212,232)","x":210,"y":460,"wires":[["b17c0324.b3b22"]]},{"id":"2c66f40a.fd23ac","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"outp 1","x":160,"y":500,"wires":[["6be9a045.40de7"]]},{"id":"8046afe7.dd534","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"outp 0","x":140,"y":680,"wires":[["c4ab66d1.522aa8"]]},{"id":"c4ab66d1.522aa8","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"route:close (@232)","x":360,"y":680,"wires":[["59c3bc3b.02ead4"]]},{"id":"59c3bc3b.02ead4","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"route:open (@222)","x":180,"y":720,"wires":[["77bdcdd6.32f564"]]},{"id":"77bdcdd6.32f564","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"outp 1","x":400,"y":720,"wires":[["2fea410.8015cc"]]},{"id":"12c6427c.f1b01e","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"volt:sens INT","x":480,"y":820,"wires":[[]]},{"id":"6be9a045.40de7","type":"delay","z":"19053cc8.6ac013","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":500,"wires":[["d10b4e4f.40d1b"]]},{"id":"d5b8512e.84d54","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":4,"width":16,"height":1,"name":"","label":"Initialization","format":"","layout":"row-left","x":690,"y":220,"wires":[]},{"id":"f1b0c6d3.a6ba78","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":5,"width":8,"height":1,"name":"Status 1","label":"{{msg.payload}}","format":"","layout":"row-right","x":1220,"y":340,"wires":[]},{"id":"a0851f09.7ab07","type":"change","z":"b412d483.ab8908","name":"DONE","rules":[{"t":"set","p":"payload","pt":"msg","to":"DONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":320,"wires":[["f1b0c6d3.a6ba78"]]},{"id":"6fc066cc.78f598","type":"ui_text","z":"19053cc8.6ac013","group":"791b1a80.48a154","order":4,"width":16,"height":1,"name":"","label":"Initialization","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":160,"wires":[]},{"id":"5b1b853d.7a31bc","type":"ui_button","z":"a7505970.eda628","name":"","group":"f6308dc0.fea5d","order":2,"width":6,"height":1,"passthru":false,"label":"Start All Tests","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":100,"wires":[["d8c4b029.8a491"]]},{"id":"f2e0578c.847ba8","type":"change","z":"b412d483.ab8908","name":"Clear status","rules":[{"t":"set","p":"payload","pt":"msg","to":"-","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":60,"wires":[["f1b0c6d3.a6ba78","5611479f.7dd1f8","99f46d67.3b7a6","5ce69a8f.538024","d490bd07.e269c","bc397697.7a9718","f04ef3e8.1880f","56e33e57.f6d9e","8b12de4a.6cc34","de39d7d.23f2b28","a412036.2fe77"]]},{"id":"83655855.ba56e8","type":"inject","z":"b412d483.ab8908","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":730,"y":20,"wires":[["f2e0578c.847ba8"]]},{"id":"1a1da2d8.170e2d","type":"change","z":"b412d483.ab8908","name":"DONE","rules":[{"t":"set","p":"payload","pt":"msg","to":"DONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":660,"wires":[["5611479f.7dd1f8"]]},{"id":"5611479f.7dd1f8","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":7,"width":8,"height":1,"name":"Status 2","label":"{{msg.payload}}","format":"","layout":"row-right","x":1220,"y":680,"wires":[]},{"id":"fd19d962.2d1a98","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":6,"width":16,"height":1,"name":"","label":"Setup power channel","format":"","layout":"row-left","x":660,"y":480,"wires":[]},{"id":"aa900a03.86f278","type":"ui_button","z":"b412d483.ab8908","name":"","group":"dabf709f.40a93","order":2,"width":6,"height":1,"passthru":false,"label":"Start this test","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":60,"wires":[["691e2446.75633c","f2e0578c.847ba8"]]},{"id":"2adbb639.799e6a","type":"ui_button","z":"8c37b2b8.3d6c9","name":"","group":"b1090f9a.928bf","order":2,"width":6,"height":1,"passthru":false,"label":"Start All Tests","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":80,"wires":[[]]},{"id":"14b5e5de.aeca0a","type":"bb3-connect","z":"52ed3af3.19d4a4","name":"","connection":"e701286.3ff23d8","x":630,"y":140,"wires":[[]]},{"id":"92d60759.ddc108","type":"bb3-disconnect","z":"52ed3af3.19d4a4","name":"","connection":"e701286.3ff23d8","x":640,"y":260,"wires":[[]]},{"id":"3822717d.4b7f5e","type":"bb3-connect","z":"52ed3af3.19d4a4","name":"","connection":"f21fe587.9c68d8","x":630,"y":620,"wires":[[]]},{"id":"992da268.19d4c","type":"bb3-disconnect","z":"52ed3af3.19d4a4","name":"","connection":"f21fe587.9c68d8","x":640,"y":720,"wires":[[]]},{"id":"e0ed4883.e4a928","type":"inject","z":"52ed3af3.19d4a4","name":"Disconnect","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":260,"wires":[["92d60759.ddc108"]]},{"id":"6ca7ba2b.623064","type":"inject","z":"52ed3af3.19d4a4","name":"Disconnect","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":720,"wires":[["992da268.19d4c"]]},{"id":"1d8c8124.6ededf","type":"inject","z":"52ed3af3.19d4a4","name":"Connect to BB3 #1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":140,"wires":[["14b5e5de.aeca0a"]]},{"id":"bc66cf6.cf1863","type":"inject","z":"52ed3af3.19d4a4","name":"Connect to BB3 #2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":620,"wires":[["3822717d.4b7f5e"]]},{"id":"431df819.e729c8","type":"ui_button","z":"52ed3af3.19d4a4","name":"","group":"2ec5bfb0.8976d","order":1,"width":0,"height":0,"passthru":false,"label":"Connect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":380,"y":80,"wires":[["14b5e5de.aeca0a"]]},{"id":"9e1ebaaa.fb2d38","type":"ui_button","z":"52ed3af3.19d4a4","name":"","group":"a1f98b8e.b7b1b8","order":1,"width":0,"height":0,"passthru":false,"label":"Connect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":380,"y":560,"wires":[["3822717d.4b7f5e"]]},{"id":"c4863833.45a208","type":"ui_button","z":"52ed3af3.19d4a4","name":"","group":"2ec5bfb0.8976d","order":2,"width":0,"height":0,"passthru":false,"label":"Disconnect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":390,"y":200,"wires":[["92d60759.ddc108"]]},{"id":"5afb2001.6c24a","type":"ui_button","z":"52ed3af3.19d4a4","name":"","group":"a1f98b8e.b7b1b8","order":2,"width":0,"height":0,"passthru":false,"label":"Disconnect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":390,"y":680,"wires":[["992da268.19d4c"]]},{"id":"89d62e2f.cd1c3","type":"status","z":"52ed3af3.19d4a4","name":"","scope":["14b5e5de.aeca0a"],"x":880,"y":140,"wires":[["fed0f25b.fc5a9","9f79d234.1ba74"]]},{"id":"fed0f25b.fc5a9","type":"ui_text","z":"52ed3af3.19d4a4","group":"2ec5bfb0.8976d","order":2,"width":0,"height":0,"name":"","label":"Connection is {{status.text.toUpperCase()}}","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":140,"wires":[]},{"id":"c1dd676d.f523d8","type":"status","z":"52ed3af3.19d4a4","name":"","scope":["3822717d.4b7f5e"],"x":880,"y":620,"wires":[["a4d75338.10dc1","1f6f9b2e.5e9da5"]]},{"id":"a4d75338.10dc1","type":"ui_text","z":"52ed3af3.19d4a4","group":"a1f98b8e.b7b1b8","order":2,"width":0,"height":0,"name":"","label":"Connection is {{status.text.toUpperCase()}}","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":620,"wires":[]},{"id":"62a3880f.f07a68","type":"comment","z":"52ed3af3.19d4a4","name":"Update dashboard when connection #1 status change","info":"","x":1020,"y":100,"wires":[]},{"id":"aed6d8d1.95eab8","type":"comment","z":"52ed3af3.19d4a4","name":"Update dashboard when connection #2 status change","info":"","x":1020,"y":580,"wires":[]},{"id":"d8c4b029.8a491","type":"change","z":"a7505970.eda628","name":"","rules":[{"t":"set","p":"runAll","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":100,"wires":[["667dd221.7885ec"]]},{"id":"667dd221.7885ec","type":"link out","z":"a7505970.eda628","name":"","links":["2d8c9327.3dd03c"],"x":485,"y":100,"wires":[]},{"id":"2d8c9327.3dd03c","type":"link in","z":"b412d483.ab8908","name":"","links":["667dd221.7885ec"],"x":215,"y":120,"wires":[["f2e0578c.847ba8","e92d0195.d6f67"]]},{"id":"691e2446.75633c","type":"change","z":"b412d483.ab8908","name":"runAll = false","rules":[{"t":"set","p":"runAll","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":80,"wires":[["e92d0195.d6f67"]]},{"id":"e2bc334c.7a90c","type":"switch","z":"b412d483.ab8908","name":"","property":"runAll","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":3380,"wires":[["a9fc4a45.1234f8"]]},{"id":"a9fc4a45.1234f8","type":"link out","z":"b412d483.ab8908","name":"","links":["1c71fbee.f4c4e4"],"x":775,"y":3380,"wires":[]},{"id":"94784bbe.dbb628","type":"ui_button","z":"ced637bb.5a9148","name":"","group":"b4e40291.62333","order":2,"width":6,"height":1,"passthru":false,"label":"Start this test","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":60,"wires":[["1ecea28d.ea1a2d","eccda2a3.d68c"]]},{"id":"1c71fbee.f4c4e4","type":"link in","z":"ced637bb.5a9148","name":"","links":["a9fc4a45.1234f8"],"x":175,"y":140,"wires":[["eccda2a3.d68c","3e977d27.f00d02"]]},{"id":"49650454.e1bbfc","type":"switch","z":"ced637bb.5a9148","name":"","property":"runAll","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":1000,"wires":[["3b54f6dd.44f2fa"]]},{"id":"3b54f6dd.44f2fa","type":"link out","z":"ced637bb.5a9148","name":"","links":["8ae2d52c.d49e88"],"x":715,"y":1000,"wires":[]},{"id":"bcb1019d.44e3","type":"ui_button","z":"19053cc8.6ac013","name":"","group":"791b1a80.48a154","order":2,"width":6,"height":1,"passthru":false,"label":"Start this test","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":60,"wires":[["29530200.969c0e","90a0b4ea.6144b8"]]},{"id":"8ae2d52c.d49e88","type":"link in","z":"19053cc8.6ac013","name":"","links":["3b54f6dd.44f2fa","9c9f25b0.faded8"],"x":155,"y":120,"wires":[["5b5b6424.4c981c","90a0b4ea.6144b8"]]},{"id":"99f46d67.3b7a6","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":9,"width":8,"height":1,"name":"Status 3","label":"{{msg.payload}}","format":"","layout":"row-right","x":1220,"y":860,"wires":[]},{"id":"2f06f278.f1803e","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":8,"width":16,"height":1,"name":"","label":"Check OCP trip","format":"","layout":"row-left","x":660,"y":800,"wires":[]},{"id":"566675c1.d2fcdc","type":"change","z":"b412d483.ab8908","name":"DONE","rules":[{"t":"set","p":"payload","pt":"msg","to":"DONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":840,"wires":[["99f46d67.3b7a6"]]},{"id":"2bd240a6.3a253","type":"change","z":"b412d483.ab8908","name":"FAILED","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAILED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":880,"wires":[["99f46d67.3b7a6"]]},{"id":"306ce49c.81716c","type":"change","z":"b412d483.ab8908","name":"FAILED","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAILED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":1120,"wires":[["5ce69a8f.538024"]]},{"id":"5ce69a8f.538024","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":11,"width":8,"height":1,"name":"Status 4","label":"{{msg.payload}}","format":"","layout":"row-right","x":1220,"y":1100,"wires":[]},{"id":"227b169e.c0429a","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":10,"width":16,"height":1,"name":"","label":"Check Standby Power","format":"","layout":"row-left","x":660,"y":1040,"wires":[]},{"id":"c395697a.4e1ee8","type":"change","z":"b412d483.ab8908","name":"DONE","rules":[{"t":"set","p":"payload","pt":"msg","to":"DONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1080,"wires":[["5ce69a8f.538024"]]},{"id":"d490bd07.e269c","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":13,"width":8,"height":1,"name":"Status 5","label":"{{msg.payload}}","format":"","layout":"row-right","x":1200,"y":1420,"wires":[]},{"id":"cb62ddac.ab735","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":12,"width":16,"height":1,"name":"","label":"Module initialization","format":"","layout":"row-left","x":650,"y":1240,"wires":[]},{"id":"c4d97aa2.755578","type":"change","z":"b412d483.ab8908","name":"SKIPPED","rules":[{"t":"set","p":"payload","pt":"msg","to":"SKIPPED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1420,"wires":[["d490bd07.e269c"]]},{"id":"22fa6b71.e85244","type":"change","z":"b412d483.ab8908","name":"DONE","rules":[{"t":"set","p":"payload","pt":"msg","to":"DONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":1460,"wires":[["d490bd07.e269c"]]},{"id":"e0e62c0d.a9b75","type":"bb3-query","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","query":"SYSTem:SLOT:MODel? 3","x":580,"y":1760,"wires":[["3e8099f9.fafec6"]]},{"id":"3e8099f9.fafec6","type":"switch","z":"b412d483.ab8908","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"\"\"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":1760,"wires":[["2c64fa2c.5516b6"],["8f20ed45.7e7ba"]],"outputLabels":["Not initialized","OK"]},{"id":"900d0a9d.479398","type":"change","z":"b412d483.ab8908","name":"FAILED","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAILED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1500,"wires":[["d490bd07.e269c"]]},{"id":"16a90b71.32f5d5","type":"switch","z":"b412d483.ab8908","name":"","property":"instrument1Status","propertyType":"global","rules":[{"t":"eq","v":"connected","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1760,"wires":[["e0e62c0d.a9b75"],["61cca414.d9ae4c"]],"outputLabels":["Connected","Not connected"]},{"id":"9f79d234.1ba74","type":"change","z":"52ed3af3.19d4a4","name":"","rules":[{"t":"set","p":"instrument1Status","pt":"global","to":"status.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":260,"wires":[[]]},{"id":"1f6f9b2e.5e9da5","type":"change","z":"52ed3af3.19d4a4","name":"","rules":[{"t":"set","p":"instrument2Status","pt":"global","to":"status.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":720,"wires":[[]]},{"id":"bc397697.7a9718","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":15,"width":8,"height":1,"name":"Status 6","label":"{{msg.payload}}","format":"","layout":"row-right","x":1200,"y":1860,"wires":[]},{"id":"36e38b23.13e3c4","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":14,"width":16,"height":1,"name":"","label":"SPI device initialization","format":"","layout":"row-left","x":680,"y":1700,"wires":[]},{"id":"282e6c1f.675904","type":"change","z":"b412d483.ab8908","name":"DONE","rules":[{"t":"set","p":"payload","pt":"msg","to":"DONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":1860,"wires":[["bc397697.7a9718"]]},{"id":"2c64fa2c.5516b6","type":"change","z":"b412d483.ab8908","name":"FAILED","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAILED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1900,"wires":[["bc397697.7a9718"]]},{"id":"f04ef3e8.1880f","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":17,"width":8,"height":1,"name":"Status 7","label":"{{msg.payload}}","format":"","layout":"row-right","x":1200,"y":2080,"wires":[]},{"id":"56a8d915.aed518","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":16,"width":16,"height":1,"name":"","label":"Check Output Voltage","format":"","layout":"row-left","x":660,"y":2020,"wires":[]},{"id":"f6e5d54.00db328","type":"catch","z":"b412d483.ab8908","name":"","scope":["5e37866e.31b428","59c8016f.55fbf","24d9ea47.280366","17f34d2e.a08323","6f04e8eb.e41af8"],"uncaught":false,"x":910,"y":2160,"wires":[["6a32cee4.eceb7"]]},{"id":"1777109e.4bf95f","type":"change","z":"b412d483.ab8908","name":"DONE","rules":[{"t":"set","p":"payload","pt":"msg","to":"DONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":2080,"wires":[["f04ef3e8.1880f"]]},{"id":"6a32cee4.eceb7","type":"change","z":"b412d483.ab8908","name":"FAILED","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAILED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":2120,"wires":[["f04ef3e8.1880f"]]},{"id":"56e33e57.f6d9e","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":19,"width":8,"height":1,"name":"Status 8","label":"{{msg.payload}}","format":"","layout":"row-right","x":1200,"y":2360,"wires":[]},{"id":"ae80eb24.f38ae8","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":18,"width":16,"height":1,"name":"","label":"Check Output Current 60 mA","format":"","layout":"row-left","x":660,"y":2300,"wires":[]},{"id":"73fa3517.bf3ebc","type":"catch","z":"b412d483.ab8908","name":"","scope":["83ffcdfe.5830d","aae927d9.b8c308"],"uncaught":false,"x":930,"y":2420,"wires":[["e62a69b8.406aa8"]]},{"id":"49c30b2a.29b464","type":"change","z":"b412d483.ab8908","name":"DONE","rules":[{"t":"set","p":"payload","pt":"msg","to":"DONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":2340,"wires":[["56e33e57.f6d9e"]]},{"id":"e62a69b8.406aa8","type":"change","z":"b412d483.ab8908","name":"FAILED","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAILED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":2380,"wires":[["56e33e57.f6d9e"]]},{"id":"8b12de4a.6cc34","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":21,"width":8,"height":1,"name":"Status 9","label":"{{msg.payload}}","format":"","layout":"row-right","x":1200,"y":2640,"wires":[]},{"id":"a3de8cf.009517","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":20,"width":16,"height":1,"name":"","label":"Check Output Current 25 mA","format":"","layout":"row-left","x":660,"y":2580,"wires":[]},{"id":"a3218e7e.2bbe6","type":"catch","z":"b412d483.ab8908","name":"","scope":["a6df95b.8caca68","73f4ab6c.be1854"],"uncaught":false,"x":930,"y":2700,"wires":[["66c9e222.4e6bfc"]]},{"id":"d532cd92.bcfdd","type":"change","z":"b412d483.ab8908","name":"DONE","rules":[{"t":"set","p":"payload","pt":"msg","to":"DONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":2620,"wires":[["8b12de4a.6cc34"]]},{"id":"66c9e222.4e6bfc","type":"change","z":"b412d483.ab8908","name":"FAILED","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAILED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":2660,"wires":[["8b12de4a.6cc34"]]},{"id":"de39d7d.23f2b28","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":23,"width":8,"height":1,"name":"Status 10","label":"{{msg.payload}}","format":"","layout":"row-right","x":1200,"y":2920,"wires":[]},{"id":"4eaaba4b.b33644","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":22,"width":16,"height":1,"name":"","label":"Check Output Current 5 A","format":"","layout":"row-left","x":650,"y":2860,"wires":[]},{"id":"712d6a65.57ac54","type":"catch","z":"b412d483.ab8908","name":"","scope":["3453817c.4f8e9e","d94e2c00.ce4a1"],"uncaught":false,"x":910,"y":2980,"wires":[["4f923ec4.92f04"]]},{"id":"5f4e02c2.344c5c","type":"change","z":"b412d483.ab8908","name":"DONE","rules":[{"t":"set","p":"payload","pt":"msg","to":"DONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":2900,"wires":[["de39d7d.23f2b28"]]},{"id":"4f923ec4.92f04","type":"change","z":"b412d483.ab8908","name":"FAILED","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAILED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":2940,"wires":[["de39d7d.23f2b28"]]},{"id":"a412036.2fe77","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":25,"width":8,"height":1,"name":"Status 11","label":"{{msg.payload}}","format":"","layout":"row-right","x":1200,"y":3200,"wires":[]},{"id":"77864a65.3366a4","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":24,"width":16,"height":1,"name":"","label":"Cleanup","format":"","layout":"row-left","x":640,"y":3140,"wires":[]},{"id":"6ee49426.d89c7c","type":"catch","z":"b412d483.ab8908","name":"","scope":["f4bb6795.1545d8","ce6e321d.3efb4"],"uncaught":false,"x":910,"y":3220,"wires":[["e6ade73c.827808"]]},{"id":"50cfcc94.096d24","type":"change","z":"b412d483.ab8908","name":"DONE","rules":[{"t":"set","p":"payload","pt":"msg","to":"DONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":3180,"wires":[["a412036.2fe77"]]},{"id":"e6ade73c.827808","type":"change","z":"b412d483.ab8908","name":"FAILED","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAILED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":3220,"wires":[["a412036.2fe77"]]},{"id":"63164a60.958834","type":"change","z":"b412d483.ab8908","name":"FAILED","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAILED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":700,"wires":[["5611479f.7dd1f8"]]},{"id":"bfb2074e.a21da8","type":"change","z":"b412d483.ab8908","name":"FAILED","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAILED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":360,"wires":[["f1b0c6d3.a6ba78"]]},{"id":"aca48c0.ffaf97","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"inst (@101)","x":220,"y":520,"wires":[["f9b555a1.9c3818"]]},{"id":"4ab5a655.8154f8","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"SYST:SLOT:STAT 3,0","x":570,"y":1440,"wires":[["a1ada453.c670b8"]]},{"id":"c360f8a3.356998","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"SYST:SLOT:STAT 3,1","x":510,"y":1900,"wires":[["295c6662.0c3a0a"]]},{"id":"295c6662.0c3a0a","type":"delay","z":"b412d483.ab8908","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":1940,"wires":[["3a664456.88282c"]]},{"id":"1efe727e.ca783e","type":"bb3-query","z":"de87d3cf.70f61","name":"","connection":"e701286.3ff23d8","query":"SYST:ERR:COUN?","x":240,"y":40,"wires":[["4576e7d5.295258"]]},{"id":"bfbfa363.bf836","type":"bb3-query","z":"de87d3cf.70f61","name":"","connection":"e701286.3ff23d8","query":"SYST:ERR?","x":660,"y":160,"wires":[["e1c8a50d.a31ff8"]]},{"id":"4576e7d5.295258","type":"switch","z":"de87d3cf.70f61","name":"Any error?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":40,"wires":[["bfbfa363.bf836"],[]]},{"id":"e1c8a50d.a31ff8","type":"bb3-query","z":"de87d3cf.70f61","name":"","connection":"e701286.3ff23d8","query":"SYST:ERR:COUN?","x":680,"y":240,"wires":[["6c83ea0d.726904"]]},{"id":"6c83ea0d.726904","type":"switch","z":"de87d3cf.70f61","name":"More errors?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":240,"wires":[["bfbfa363.bf836"],[]]},{"id":"63a45afa.618c84","type":"subflow:de87d3cf.70f61","z":"b412d483.ab8908","name":"","x":480,"y":340,"wires":[["a0851f09.7ab07","aca48c0.ffaf97"],["bfb2074e.a21da8"]]},{"id":"86d2a76c.598638","type":"subflow:de87d3cf.70f61","z":"b412d483.ab8908","name":"","x":680,"y":680,"wires":[["1a1da2d8.170e2d","275192f6.d2b89e"],["63164a60.958834"]]},{"id":"46eb1d4f.f7eaa4","type":"subflow:de87d3cf.70f61","z":"b412d483.ab8908","name":"","x":660,"y":900,"wires":[["f16b3186.5686b","566675c1.d2fcdc"],["2bd240a6.3a253"]]},{"id":"e5bccfb0.46a74","type":"subflow:de87d3cf.70f61","z":"b412d483.ab8908","name":"","x":660,"y":1140,"wires":[["33f1505d.4c056","c395697a.4e1ee8"],["306ce49c.81716c"]]},{"id":"db99051e.189738","type":"subflow:de87d3cf.70f61","z":"b412d483.ab8908","name":"","x":560,"y":1480,"wires":[["b0a811a4.9658f"],["900d0a9d.479398"]]},{"id":"3a664456.88282c","type":"subflow:de87d3cf.70f61","z":"b412d483.ab8908","name":"","x":360,"y":1940,"wires":[["282e6c1f.675904","5e37866e.31b428"],["2c64fa2c.5516b6"]]},{"id":"d0fc415a.eef48","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"SYST:SLOT:STAT 3,0","x":230,"y":1900,"wires":[["c360f8a3.356998"]]},{"id":"5209a60d.c1c768","type":"catch","z":"b412d483.ab8908","name":"","scope":["77f1c279.02e18c","63a45afa.618c84"],"uncaught":false,"x":900,"y":400,"wires":[["bfb2074e.a21da8"]]},{"id":"d2386d1c.df514","type":"catch","z":"b412d483.ab8908","name":"","scope":["aca48c0.ffaf97","f9b555a1.9c3818","83cc941b.8cbd18","8b5e35e2.c43448","98e0a03.2fd116","48b5fb95.825434","151942a9.300e1d","86d2a76c.598638"],"uncaught":false,"x":910,"y":740,"wires":[["63164a60.958834"]]},{"id":"584ae5b1.9e922c","type":"catch","z":"b412d483.ab8908","name":"","scope":["275192f6.d2b89e","46eb1d4f.f7eaa4"],"uncaught":false,"x":910,"y":940,"wires":[["2bd240a6.3a253"]]},{"id":"cd521596.df7f18","type":"catch","z":"b412d483.ab8908","name":"","scope":["f16b3186.5686b","e5bccfb0.46a74"],"uncaught":false,"x":910,"y":1180,"wires":[["306ce49c.81716c"]]},{"id":"2f829b7a.0d3754","type":"catch","z":"b412d483.ab8908","name":"","scope":["33f1505d.4c056","4164072f.7c3ae8","bad3f615.fe5d58","d8585648.075cb8","4ab5a655.8154f8","db99051e.189738","b0a811a4.9658f","e0e62c0d.a9b75"],"uncaught":false,"x":890,"y":1560,"wires":[["900d0a9d.479398"]]},{"id":"220dbb82.987a54","type":"catch","z":"b412d483.ab8908","name":"","scope":["d0fc415a.eef48","c360f8a3.356998","3a664456.88282c"],"uncaught":false,"x":890,"y":1920,"wires":[["2c64fa2c.5516b6"]]},{"id":"386ba1bb.d0173e","type":"subflow:de87d3cf.70f61","z":"b412d483.ab8908","name":"","x":700,"y":2120,"wires":[["83ffcdfe.5830d","1777109e.4bf95f"],["6a32cee4.eceb7"]]},{"id":"b4b0a7b3.661158","type":"subflow:de87d3cf.70f61","z":"b412d483.ab8908","name":"","x":700,"y":2360,"wires":[["a6df95b.8caca68","49c30b2a.29b464"],["e62a69b8.406aa8"]]},{"id":"2c9e0739.ec89a8","type":"subflow:de87d3cf.70f61","z":"b412d483.ab8908","name":"","x":680,"y":2640,"wires":[["d532cd92.bcfdd","67de9119.e9868"],["66c9e222.4e6bfc"]]},{"id":"c01a649.479b098","type":"subflow:de87d3cf.70f61","z":"b412d483.ab8908","name":"","x":700,"y":2920,"wires":[["f4bb6795.1545d8","5f4e02c2.344c5c"],["4f923ec4.92f04"]]},{"id":"e92d0195.d6f67","type":"subflow:de87d3cf.70f61","z":"b412d483.ab8908","name":"","x":200,"y":280,"wires":[["77f1c279.02e18c"],["77f1c279.02e18c"]]},{"id":"a001877f.6f8b28","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"volt 40V","x":210,"y":920,"wires":[["544bab9a.29b7c4"]]},{"id":"6223aedd.73a22","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"curr 3.5","x":430,"y":960,"wires":[["46eb1d4f.f7eaa4"]]},{"id":"1528d8cd.afbd07","type":"delay","z":"b412d483.ab8908","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":2220,"wires":[["6f04e8eb.e41af8"]]},{"id":"67de9119.e9868","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"CURR:LIM 5","x":220,"y":2880,"wires":[["3453817c.4f8e9e"]]},{"id":"544bab9a.29b7c4","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"CURR:LIM 5","x":220,"y":960,"wires":[["6223aedd.73a22"]]},{"id":"61cca414.d9ae4c","type":"delay","z":"b412d483.ab8908","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":1720,"wires":[["16a90b71.32f5d5"]]},{"id":"1ecea28d.ea1a2d","type":"change","z":"ced637bb.5a9148","name":"runAll = false","rules":[{"t":"set","p":"runAll","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":100,"wires":[["3e977d27.f00d02"]]},{"id":"af3476bd.ced4c8","type":"inject","z":"ced637bb.5a9148","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":790,"y":40,"wires":[["eccda2a3.d68c"]]},{"id":"eccda2a3.d68c","type":"change","z":"ced637bb.5a9148","name":"Clear status","rules":[{"t":"set","p":"payload","pt":"msg","to":"-","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":100,"wires":[["f784a46f.fa8088","acea1818.4c5ae8"]]},{"id":"f784a46f.fa8088","type":"ui_text","z":"ced637bb.5a9148","group":"b4e40291.62333","order":5,"width":8,"height":1,"name":"Status 1","label":"{{msg.payload}}","format":"","layout":"row-right","x":1160,"y":520,"wires":[]},{"id":"d47f2adb.5bfa48","type":"change","z":"ced637bb.5a9148","name":"DONE","rules":[{"t":"set","p":"payload","pt":"msg","to":"DONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":500,"wires":[["f784a46f.fa8088"]]},{"id":"e1d248f7.bbb1a8","type":"change","z":"ced637bb.5a9148","name":"FAILED","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAILED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":540,"wires":[["f784a46f.fa8088"]]},{"id":"3b4cdcb2.584cb4","type":"ui_text","z":"ced637bb.5a9148","group":"b4e40291.62333","order":4,"width":16,"height":1,"name":"","label":"Check OCP trip","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":180,"wires":[]},{"id":"c14500b9.273a5","type":"ui_text","z":"ced637bb.5a9148","group":"b4e40291.62333","order":6,"width":16,"height":1,"name":"","label":"Cleanup","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":720,"wires":[]},{"id":"b610d9c6.3c0708","type":"catch","z":"ced637bb.5a9148","name":"","scope":["ce4e1cca.1b4f7","4a27a4bb.0517dc","d80ccab8.f25508","1d59591f.c7a317","c806d61a.de4748","d97f8018.674b8","1e59ce1f.22c752","347b85e7.86d55a","ee66ef88.9afbe","66395578.e26aec","cd0c068a.dae488","f30b1bf0.d159e8","3e977d27.f00d02","32007166.0184fe"],"uncaught":false,"x":860,"y":620,"wires":[["e1d248f7.bbb1a8"]]},{"id":"acea1818.4c5ae8","type":"ui_text","z":"ced637bb.5a9148","group":"b4e40291.62333","order":7,"width":8,"height":1,"name":"Status 2","label":"{{msg.payload}}","format":"","layout":"row-right","x":1160,"y":780,"wires":[]},{"id":"8c006839.36ba68","type":"change","z":"ced637bb.5a9148","name":"DONE","rules":[{"t":"set","p":"payload","pt":"msg","to":"DONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":760,"wires":[["acea1818.4c5ae8"]]},{"id":"4bf54cd6.f26404","type":"change","z":"ced637bb.5a9148","name":"FAILED","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAILED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":800,"wires":[["acea1818.4c5ae8"]]},{"id":"bc2e1ef7.fa85c","type":"catch","z":"ced637bb.5a9148","name":"","scope":["bc5c3a2f.161ca8","b2ea8f87.c22cb","b983a36e.b09fc","24c8a7a7.0253d8","2129fefa.5c8762"],"uncaught":false,"x":850,"y":880,"wires":[["4bf54cd6.f26404"]]},{"id":"24c8a7a7.0253d8","type":"subflow:de87d3cf.70f61","z":"ced637bb.5a9148","name":"","x":500,"y":860,"wires":[["8c006839.36ba68","49650454.e1bbfc"],["4bf54cd6.f26404"]]},{"id":"29530200.969c0e","type":"change","z":"19053cc8.6ac013","name":"runAll = false","rules":[{"t":"set","p":"runAll","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":100,"wires":[["5b5b6424.4c981c"]]},{"id":"9eddd902.c7e118","type":"inject","z":"19053cc8.6ac013","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":810,"y":60,"wires":[["90a0b4ea.6144b8"]]},{"id":"90a0b4ea.6144b8","type":"change","z":"19053cc8.6ac013","name":"Clear status","rules":[{"t":"set","p":"payload","pt":"msg","to":"-","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":140,"wires":[["cae217e4.2d9fa8","a524ea33.b4b658","413f47a4.6df598"]]},{"id":"fb062dea.fb88","type":"change","z":"19053cc8.6ac013","name":"DONE","rules":[{"t":"set","p":"payload","pt":"msg","to":"DONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":340,"wires":[["cae217e4.2d9fa8"]]},{"id":"c0186757.bd7f08","type":"change","z":"19053cc8.6ac013","name":"FAILED","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAILED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":380,"wires":[["cae217e4.2d9fa8"]]},{"id":"cae217e4.2d9fa8","type":"ui_text","z":"19053cc8.6ac013","group":"791b1a80.48a154","order":5,"width":8,"height":1,"name":"Status 1","label":"{{msg.payload}}","format":"","layout":"row-right","x":1160,"y":360,"wires":[]},{"id":"93729e5b.e1db1","type":"change","z":"19053cc8.6ac013","name":"DONE","rules":[{"t":"set","p":"payload","pt":"msg","to":"DONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":520,"wires":[["a524ea33.b4b658"]]},{"id":"2ffac783.a0f168","type":"change","z":"19053cc8.6ac013","name":"FAILED","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAILED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":560,"wires":[["a524ea33.b4b658"]]},{"id":"a524ea33.b4b658","type":"ui_text","z":"19053cc8.6ac013","group":"791b1a80.48a154","order":7,"width":8,"height":1,"name":"Status 2","label":"{{msg.payload}}","format":"","layout":"row-right","x":1160,"y":540,"wires":[]},{"id":"701e93f6.11d76c","type":"change","z":"19053cc8.6ac013","name":"DONE","rules":[{"t":"set","p":"payload","pt":"msg","to":"DONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":720,"wires":[["413f47a4.6df598"]]},{"id":"e0f6066b.b73448","type":"change","z":"19053cc8.6ac013","name":"FAILED","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAILED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":760,"wires":[["413f47a4.6df598"]]},{"id":"413f47a4.6df598","type":"ui_text","z":"19053cc8.6ac013","group":"791b1a80.48a154","order":9,"width":8,"height":1,"name":"Status 3","label":"{{msg.payload}}","format":"","layout":"row-right","x":1160,"y":740,"wires":[]},{"id":"93d9e99.1128018","type":"ui_text","z":"19053cc8.6ac013","group":"791b1a80.48a154","order":6,"width":16,"height":1,"name":"","label":"Check 1","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":380,"wires":[]},{"id":"90806421.8207a8","type":"ui_text","z":"19053cc8.6ac013","group":"791b1a80.48a154","order":8,"width":16,"height":1,"name":"","label":"Check 2","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":640,"wires":[]},{"id":"9f0a07a4.194868","type":"subflow:de87d3cf.70f61","z":"19053cc8.6ac013","name":"","x":660,"y":320,"wires":[["5c162048.29a05","fb062dea.fb88"],["c0186757.bd7f08"]]},{"id":"d10b4e4f.40d1b","type":"subflow:de87d3cf.70f61","z":"19053cc8.6ac013","name":"","x":640,"y":500,"wires":[["8046afe7.dd534","93729e5b.e1db1"],["2ffac783.a0f168"]]},{"id":"2fea410.8015cc","type":"subflow:de87d3cf.70f61","z":"19053cc8.6ac013","name":"","x":620,"y":720,"wires":[["701e93f6.11d76c","266d3da7.5c5492"],["e0f6066b.b73448"]]},{"id":"3e977d27.f00d02","type":"subflow:de87d3cf.70f61","z":"ced637bb.5a9148","name":"","x":220,"y":240,"wires":[["ce4e1cca.1b4f7"],["ce4e1cca.1b4f7"]]},{"id":"2129fefa.5c8762","type":"bb3-query","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","query":"STAT:QUES:INST:ISUM2?","x":240,"y":740,"wires":[["bc5c3a2f.161ca8"]]},{"id":"266d3da7.5c5492","type":"bb3-query","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","query":"STAT:QUES:INST:ISUM2?","x":200,"y":820,"wires":[["12c6427c.f1b01e"]]},{"id":"bace2625.79ea48","type":"ui_media","z":"a7505970.eda628","group":"9e429f56.d0f7e","name":"","width":0,"height":0,"order":1,"category":"images","file":"simple-scenario.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":320,"y":200,"wires":[[]]},{"id":"8f20ed45.7e7ba","type":"subflow:de87d3cf.70f61","z":"b412d483.ab8908","name":"","x":200,"y":1820,"wires":[["bcb35615.623c68"],["bcb35615.623c68"]]},{"id":"bcb35615.623c68","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"volt 40V","x":410,"y":1820,"wires":[["ce70e313.78dda"]]},{"id":"ce70e313.78dda","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"CURR:LIM 5","x":620,"y":1820,"wires":[["b9ecd596.a4c6a8"]]},{"id":"b9ecd596.a4c6a8","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"curr 3.5","x":830,"y":1820,"wires":[["c07ba2ba.377c4"]]},{"id":"c07ba2ba.377c4","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"outp 1","x":200,"y":1860,"wires":[["d0fc415a.eef48"]]}]