flow.json
[{"id":"52ed3af3.19d4a4","type":"tab","label":"Instrument connections","disabled":false,"info":""},{"id":"a7505970.eda628","type":"tab","label":"DCP 405","disabled":false,"info":""},{"id":"b412d483.ab8908","type":"tab","label":"Basic test (without calibation)","disabled":false,"info":""},{"id":"ced637bb.5a9148","type":"tab","label":"HW OVP","disabled":false,"info":""},{"id":"19053cc8.6ac013","type":"tab","label":"Rsense","disabled":false,"info":""},{"id":"8c37b2b8.3d6c9","type":"tab","label":"DCM 224","disabled":false,"info":""},{"id":"de87d3cf.70f61","type":"subflow","name":"BB3 #1 Check Errors","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"1efe727e.ca783e"}]}],"out":[{"x":1080,"y":40,"wires":[{"id":"4576e7d5.295258","port":1}]},{"x":1080,"y":240,"wires":[{"id":"6c83ea0d.726904","port":1}]}],"env":[],"color":"#DDAA99","outputLabels":["OK","ERROR"]},{"id":"c0415da2.c94b6","type":"subflow","name":"BB3 #1 Consume Errors","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"254dba16.b9a906"}]}],"out":[{"x":760,"y":100,"wires":[{"id":"aa476d67.fe7d1","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"ad1d317d.c7546","type":"subflow","name":"Phase start","info":"","category":"","in":[{"x":60,"y":220,"wires":[{"id":"154f3c5e.e13164"}]}],"out":[{"x":1320,"y":180,"wires":[{"id":"a4506dcf.9be64","port":0},{"id":"6ca124fe.dde4dc","port":0},{"id":"221acd13.4e86d2","port":0}]},{"x":1400,"y":280,"wires":[{"id":"d95388f9.e2c528","port":2}]},{"x":1280,"y":360,"wires":[{"id":"f424549f.0e8678","port":0}]}],"env":[],"color":"#DDAA99","outputLabels":["Update phase status label","Cleanup","Continue"]},{"id":"9592a005.811b","type":"subflow","name":"Phase done","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"a90b1418.90e028"}]}],"out":[{"x":900,"y":120,"wires":[{"id":"f81470cd.4baf5","port":0}]}],"env":[{"name":"phase","type":"str","value":"\"end\""}],"color":"#DDAA99"},{"id":"d5fd25c6.a42208","type":"subflow","name":"Phase failed","info":"","category":"","in":[{"x":80,"y":80,"wires":[{"id":"e7105d68.7f98c"}]}],"out":[],"env":[{"name":"errMsg","type":"str","value":"FAILED"}],"color":"#DDAA99"},{"id":"3d782151.31125e","type":"subflow","name":"Phase error","info":"","category":"","in":[{"x":80,"y":80,"wires":[{"id":"d2eed79.3c4a128"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"27cf1b7e.c42054","type":"subflow","name":"Phase skipped","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"54fba1b1.23c38"}]}],"out":[{"x":520,"y":140,"wires":[{"id":"80c3cfe8.6dd57","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"233730d3.98aea","type":"subflow","name":"All phases reset","info":"","category":"","in":[{"x":80,"y":80,"wires":[{"id":"7f29b7c9.2bb1b8"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"635417a7.b52af8","type":"subflow","name":"Init check","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"4fc147d8.8cc558"}]}],"out":[{"x":1180,"y":740,"wires":[{"id":"9329c54f.1e45f8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"542b1192.ff7ce","type":"subflow","name":"Current test phases reset","info":"","category":"","in":[{"x":100,"y":60,"wires":[{"id":"ad1ef0ec.2ccab"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"806d7bba.e374f8","type":"subflow","name":"Task Definition","info":"","category":"","in":[],"out":[{"x":520,"y":80,"wires":[{"id":"cf5d36ae.38e4e8","port":0}]}],"env":[{"name":"taskId","type":"str","value":""}],"color":"#DDAA99"},{"id":"dabf709f.40a93","type":"ui_group","z":"","name":"Basic test (without calibation)","tab":"8b9c77ba.9da148","order":2,"disp":true,"width":24,"collapse":true},{"id":"8b9c77ba.9da148","type":"ui_tab","z":"","name":"DC405","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"737fae45.4583f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"BB3 ATE","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3fa8ab8f.567384","type":"ui_group","z":"","name":"CH1","tab":"","order":1,"disp":true,"width":"18","collapse":false},{"id":"e701286.3ff23d8","type":"bb3-connection","z":"","name":"BB3 #1","host":"EEZ-BB3-1","port":"5025","autoConnect":true},{"id":"f21fe587.9c68d8","type":"bb3-connection","z":"","name":"BB3 #2","host":"EEZ-BB3-2","port":"5025"},{"id":"b4e40291.62333","type":"ui_group","z":"","name":"HW OVP","tab":"8b9c77ba.9da148","order":3,"disp":true,"width":24,"collapse":true},{"id":"791b1a80.48a154","type":"ui_group","z":"","name":"Rsense","tab":"8b9c77ba.9da148","order":4,"disp":true,"width":24,"collapse":true},{"id":"f6308dc0.fea5d","type":"ui_group","z":"","name":"Summary","tab":"8b9c77ba.9da148","order":1,"disp":true,"width":24,"collapse":true},{"id":"8a1876f0.53b9b8","type":"ui_tab","z":"","name":"DCM224","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"b1090f9a.928bf","type":"ui_group","z":"","name":"Summary","tab":"8a1876f0.53b9b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4810d2e6.bb5b8c","type":"ui_tab","z":"","name":"Overview","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"2ec5bfb0.8976d","type":"ui_group","z":"","name":"BB3 #1","tab":"4810d2e6.bb5b8c","order":1,"disp":true,"width":"6","collapse":false},{"id":"a1f98b8e.b7b1b8","type":"ui_group","z":"","name":"BB3 #2","tab":"4810d2e6.bb5b8c","order":2,"disp":true,"width":"6","collapse":false},{"id":"42aa3a93.d544b4","type":"ui_tab","z":"","name":"DCP405 wiring","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"9e429f56.d0f7e","type":"ui_group","z":"","name":"Default","tab":"42aa3a93.d544b4","order":1,"disp":true,"width":24,"collapse":false},{"id":"9ddfa2e5.193e3","type":"ui_group","z":"","name":"Default","tab":"3d753f1d.d657b","order":1,"disp":true,"width":"6","collapse":false},{"id":"3d753f1d.d657b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1b03dca5.65a4b3","type":"ui_spacer","name":"spacer","group":"f6308dc0.fea5d","order":1,"width":2,"height":1},{"id":"d448df11.30085","type":"ui_spacer","name":"spacer","group":"f6308dc0.fea5d","order":3,"width":16,"height":1},{"id":"e3704a58.92eca8","type":"ui_spacer","name":"spacer","group":"dabf709f.40a93","order":1,"width":2,"height":1},{"id":"2b8bfa3a.3b5da6","type":"ui_spacer","name":"spacer","group":"dabf709f.40a93","order":3,"width":16,"height":1},{"id":"f787347f.023998","type":"ui_spacer","name":"spacer","group":"b4e40291.62333","order":1,"width":2,"height":1},{"id":"7e180d44.ab4264","type":"ui_spacer","name":"spacer","group":"b4e40291.62333","order":3,"width":16,"height":1},{"id":"5dd74ba9.329534","type":"ui_spacer","name":"spacer","group":"791b1a80.48a154","order":1,"width":2,"height":1},{"id":"26a7620b.a9c2be","type":"ui_spacer","name":"spacer","group":"791b1a80.48a154","order":3,"width":16,"height":1},{"id":"59c9893d.212678","type":"delay","z":"b412d483.ab8908","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":800,"wires":[["fb9eca0e.100b68"]]},{"id":"e6fd1ad2.fde6a8","type":"switch","z":"b412d483.ab8908","name":"Check idle power","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0.022","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":1520,"wires":[["e9f1768.3f5a888"],["8dc7674b.f45de8"]],"outputLabels":["ERROR","OK"]},{"id":"6ee4f5a4.318edc","type":"switch","z":"b412d483.ab8908","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1860,"wires":[["4164072f.7c3ae8"],["668bbc90.872d74"]],"outputLabels":["Not initialized","OK"]},{"id":"a1ada453.c670b8","type":"delay","z":"b412d483.ab8908","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":1980,"wires":[["9fbb41.23e864c"]]},{"id":"4176f57d.97142c","type":"switch","z":"b412d483.ab8908","name":"Check output voltage","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"24.5","vt":"num","v2":"25.5","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":2960,"wires":[["7ba0b286.f0604c"],["e6331644.48b548"]],"outputLabels":["OK","ERROR"]},{"id":"d417c25.f49994","type":"switch","z":"b412d483.ab8908","name":"Check OCP trip","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":1140,"wires":[["e1c46bc4.cc0bb8"],["a001877f.6f8b28"]],"outputLabels":["ERROR","OK"]},{"id":"b19b88f.5115d78","type":"switch","z":"b412d483.ab8908","name":"Check output current","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0.035","vt":"num","v2":"0.085","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":840,"y":3320,"wires":[["ca2dc7d5.4d6758"],["18017536.56d21b"]],"outputLabels":["OK","ERROR"]},{"id":"d1932baf.c64528","type":"delay","z":"b412d483.ab8908","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":3320,"wires":[["aae927d9.b8c308"]]},{"id":"a0afb4f4.a9e588","type":"delay","z":"b412d483.ab8908","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":3700,"wires":[["73f4ab6c.be1854"]]},{"id":"3b7acc95.515c24","type":"switch","z":"b412d483.ab8908","name":"Check output current","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0.015","vt":"num","v2":"0.035","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":3700,"wires":[["4ceaa457.681f0c"],["9bf47c6f.9ae7a"]],"outputLabels":["OK","ERROR"]},{"id":"a333985f.320038","type":"delay","z":"b412d483.ab8908","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":4300,"wires":[["d94e2c00.ce4a1"]]},{"id":"3cf03bfc.7660a4","type":"switch","z":"b412d483.ab8908","name":"Check output current","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"4.6","vt":"num","v2":"5","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":4300,"wires":[["fe1d46f1.b6aeb8"],["11ae907d.57e6c"]],"outputLabels":["OK","ERROR"]},{"id":"bc69c847.97de48","type":"delay","z":"b412d483.ab8908","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":4600,"wires":[["c0b0cc2e.c81f6"]]},{"id":"32007166.0184fe","type":"switch","z":"ced637bb.5a9148","name":"Check OVP trip","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":860,"y":540,"wires":[["f67dfa53.5f1728"],["bd5f6e78.c5e58"]],"outputLabels":["TRIPPED","NOT TRIPPED"]},{"id":"31377b1d.aa5464","type":"delay","z":"ced637bb.5a9148","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":540,"wires":[["f30b1bf0.d159e8"]]},{"id":"b17c0324.b3b22","type":"delay","z":"19053cc8.6ac013","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":800,"wires":[["2c66f40a.fd23ac"]]},{"id":"f9b555a1.9c3818","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"curr:prot:stat 1","x":400,"y":760,"wires":[["83cc941b.8cbd18"]]},{"id":"83cc941b.8cbd18","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"curr:prot:del 0.01","x":590,"y":760,"wires":[["ac59d54e.8347c8"]]},{"id":"8b5e35e2.c43448","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"volt 40V","x":360,"y":800,"wires":[["48b5fb95.825434"]]},{"id":"48b5fb95.825434","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"sens:curr:rang 5","x":540,"y":800,"wires":[["151942a9.300e1d"]]},{"id":"151942a9.300e1d","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"outp 1","x":690,"y":800,"wires":[["59c9893d.212678"]]},{"id":"275192f6.d2b89e","type":"bb3-query","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","query":"curr:prot:trip?","x":240,"y":1140,"wires":[["d417c25.f49994"]]},{"id":"f16b3186.5686b","type":"bb3-query","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","query":"meas:curr?","x":240,"y":1520,"wires":[["e6fd1ad2.fde6a8"]]},{"id":"4164072f.7c3ae8","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"INST:MEMO 3,0,2,405","x":270,"y":1920,"wires":[["bad3f615.fe5d58"]]},{"id":"bad3f615.fe5d58","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"INST:MEMO 3,2,2,#H0302","x":520,"y":1920,"wires":[["d8585648.075cb8"]]},{"id":"d8585648.075cb8","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"INST:MEMO 3,4,2,#HFFFF","x":780,"y":1920,"wires":[["4ab5a655.8154f8"]]},{"id":"b0a811a4.9658f","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"syst:res","x":380,"y":2040,"wires":[["84ba48cb.32c1d8"]]},{"id":"5e37866e.31b428","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"INST (@301)","x":280,"y":2900,"wires":[["59c8016f.55fbf"]]},{"id":"59c8016f.55fbf","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"VOLT 25","x":440,"y":2900,"wires":[["24d9ea47.280366"]]},{"id":"24d9ea47.280366","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"CURR 0.06","x":590,"y":2900,"wires":[["17f34d2e.a08323"]]},{"id":"83ffcdfe.5830d","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"route:open (@203)","x":300,"y":3320,"wires":[["d1932baf.c64528"]]},{"id":"a6df95b.8caca68","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"CURR 0.025","x":280,"y":3700,"wires":[["a0afb4f4.a9e588"]]},{"id":"3453817c.4f8e9e","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"CURR 4.8","x":430,"y":4300,"wires":[["a333985f.320038"]]},{"id":"f4bb6795.1545d8","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"outp 0","x":240,"y":4600,"wires":[["1fa0c024.2ca7"]]},{"id":"ce6e321d.3efb4","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"route:close (@203)","x":650,"y":4600,"wires":[["bc69c847.97de48"]]},{"id":"17f34d2e.a08323","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"OUTP 1","x":740,"y":2900,"wires":[["1528d8cd.afbd07"]]},{"id":"33f1505d.4c056","type":"bb3-query","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","query":"SYSTem:SLOT:MODel? 3","x":280,"y":1860,"wires":[["6ee4f5a4.318edc"]]},{"id":"6f04e8eb.e41af8","type":"bb3-query","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","query":"meas:volt?","x":410,"y":2960,"wires":[["4176f57d.97142c"]]},{"id":"aae927d9.b8c308","type":"bb3-query","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","query":"meas:curr?","x":650,"y":3320,"wires":[["b19b88f.5115d78"]]},{"id":"73f4ab6c.be1854","type":"bb3-query","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","query":"meas:curr?","x":610,"y":3700,"wires":[["3b7acc95.515c24"]]},{"id":"d94e2c00.ce4a1","type":"bb3-query","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","query":"meas:curr?","x":750,"y":4300,"wires":[["3cf03bfc.7660a4"]]},{"id":"ce4e1cca.1b4f7","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"INST (@301)","x":250,"y":440,"wires":[["4a27a4bb.0517dc"]]},{"id":"4a27a4bb.0517dc","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"outp 0","x":410,"y":440,"wires":[["d80ccab8.f25508"]]},{"id":"d80ccab8.f25508","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"volt:prot:stat 1","x":560,"y":440,"wires":[["1d59591f.c7a317"]]},{"id":"1d59591f.c7a317","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"volt:prot:type HW","x":750,"y":440,"wires":[["c806d61a.de4748"]]},{"id":"c806d61a.de4748","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"outp:dpr 0","x":920,"y":440,"wires":[["d97f8018.674b8"]]},{"id":"d97f8018.674b8","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"volt 5","x":1050,"y":440,"wires":[["1e59ce1f.22c752"]]},{"id":"1e59ce1f.22c752","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"route:open (@211)","x":270,"y":500,"wires":[["347b85e7.86d55a"]]},{"id":"347b85e7.86d55a","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"INST (@201)","x":450,"y":500,"wires":[["ee66ef88.9afbe"]]},{"id":"ee66ef88.9afbe","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"volt 8","x":590,"y":500,"wires":[["66395578.e26aec"]]},{"id":"66395578.e26aec","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"INST (@301)","x":250,"y":540,"wires":[["cd0c068a.dae488"]]},{"id":"cd0c068a.dae488","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"outp 1","x":390,"y":540,"wires":[["31377b1d.aa5464"]]},{"id":"bc5c3a2f.161ca8","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"outp:prot:clear","x":680,"y":900,"wires":[["b2ea8f87.c22cb"]]},{"id":"b2ea8f87.c22cb","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"route:close (@211)","x":870,"y":900,"wires":[["b983a36e.b09fc"]]},{"id":"b983a36e.b09fc","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"outp:dpr 1","x":1040,"y":900,"wires":[["683c735b.17f50c"]]},{"id":"f30b1bf0.d159e8","type":"bb3-query","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","query":"volt:prot:trip?","x":690,"y":540,"wires":[["32007166.0184fe"]]},{"id":"5b5b6424.4c981c","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"*cls","x":350,"y":420,"wires":[["bf87748.44c0d88"]]},{"id":"bf87748.44c0d88","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"route:close (@211:246)","x":530,"y":420,"wires":[["fa3f1d55.3e0da"]]},{"id":"fa3f1d55.3e0da","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"outp 1","x":710,"y":420,"wires":[["cac77876.360df8"]]},{"id":"cac77876.360df8","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"INST (@301)","x":850,"y":420,"wires":[["da5c85d5.6f94e8"]]},{"id":"da5c85d5.6f94e8","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"volt 10","x":990,"y":420,"wires":[["a588416a.81e12"]]},{"id":"a588416a.81e12","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"curr 30mA","x":1150,"y":420,"wires":[["1c95f41d.c3669c"]]},{"id":"5c162048.29a05","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"outp 0","x":200,"y":800,"wires":[["76fc8b1f.4e3144"]]},{"id":"76fc8b1f.4e3144","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"volt:sens EXT","x":360,"y":800,"wires":[["5f8eaeeb.6893"]]},{"id":"5f8eaeeb.6893","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"route:open (@212,232)","x":590,"y":800,"wires":[["b17c0324.b3b22"]]},{"id":"2c66f40a.fd23ac","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"outp 1","x":930,"y":800,"wires":[["6be9a045.40de7"]]},{"id":"8046afe7.dd534","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"outp 0","x":210,"y":1180,"wires":[["c4ab66d1.522aa8"]]},{"id":"c4ab66d1.522aa8","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"route:close (@232)","x":370,"y":1180,"wires":[["59c3bc3b.02ead4"]]},{"id":"59c3bc3b.02ead4","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"route:open (@222)","x":570,"y":1180,"wires":[["77bdcdd6.32f564"]]},{"id":"77bdcdd6.32f564","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"outp 1","x":730,"y":1180,"wires":[["266d3da7.5c5492"]]},{"id":"12c6427c.f1b01e","type":"bb3-command","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","command":"volt:sens INT","x":1130,"y":1180,"wires":[["a31a5840.e69668"]]},{"id":"6be9a045.40de7","type":"delay","z":"19053cc8.6ac013","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1070,"y":800,"wires":[["514811ab.83bb3"]]},{"id":"6fc066cc.78f598","type":"ui_text","z":"19053cc8.6ac013","group":"791b1a80.48a154","order":4,"width":24,"height":1,"name":"","label":"Initialization","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":300,"wires":[]},{"id":"5b1b853d.7a31bc","type":"ui_button","z":"a7505970.eda628","name":"","group":"f6308dc0.fea5d","order":2,"width":6,"height":1,"passthru":false,"label":"Start All Tests","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":100,"wires":[["d8c4b029.8a491","64847543.63a4cc"]]},{"id":"fd19d962.2d1a98","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":5,"width":24,"height":1,"name":"","label":"Setup power channel","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":640,"wires":[]},{"id":"aa900a03.86f278","type":"ui_button","z":"b412d483.ab8908","name":"","group":"dabf709f.40a93","order":2,"width":6,"height":1,"passthru":false,"label":"Start this test","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":60,"wires":[["691e2446.75633c","47d84382.cd033c"]]},{"id":"2adbb639.799e6a","type":"ui_button","z":"8c37b2b8.3d6c9","name":"","group":"b1090f9a.928bf","order":2,"width":6,"height":1,"passthru":false,"label":"Start All Tests","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":80,"wires":[[]]},{"id":"14b5e5de.aeca0a","type":"bb3-connect","z":"52ed3af3.19d4a4","name":"","connection":"e701286.3ff23d8","x":630,"y":140,"wires":[[]]},{"id":"92d60759.ddc108","type":"bb3-disconnect","z":"52ed3af3.19d4a4","name":"","connection":"e701286.3ff23d8","x":640,"y":260,"wires":[[]]},{"id":"3822717d.4b7f5e","type":"bb3-connect","z":"52ed3af3.19d4a4","name":"","connection":"f21fe587.9c68d8","x":630,"y":620,"wires":[[]]},{"id":"992da268.19d4c","type":"bb3-disconnect","z":"52ed3af3.19d4a4","name":"","connection":"f21fe587.9c68d8","x":640,"y":720,"wires":[[]]},{"id":"e0ed4883.e4a928","type":"inject","z":"52ed3af3.19d4a4","name":"Disconnect","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":260,"wires":[["92d60759.ddc108"]]},{"id":"6ca7ba2b.623064","type":"inject","z":"52ed3af3.19d4a4","name":"Disconnect","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":720,"wires":[["992da268.19d4c"]]},{"id":"1d8c8124.6ededf","type":"inject","z":"52ed3af3.19d4a4","name":"Connect to BB3 #1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":140,"wires":[["14b5e5de.aeca0a"]]},{"id":"bc66cf6.cf1863","type":"inject","z":"52ed3af3.19d4a4","name":"Connect to BB3 #2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":620,"wires":[["3822717d.4b7f5e"]]},{"id":"431df819.e729c8","type":"ui_button","z":"52ed3af3.19d4a4","name":"","group":"2ec5bfb0.8976d","order":1,"width":0,"height":0,"passthru":false,"label":"Connect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":380,"y":80,"wires":[["14b5e5de.aeca0a"]]},{"id":"9e1ebaaa.fb2d38","type":"ui_button","z":"52ed3af3.19d4a4","name":"","group":"a1f98b8e.b7b1b8","order":1,"width":0,"height":0,"passthru":false,"label":"Connect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":380,"y":560,"wires":[["3822717d.4b7f5e"]]},{"id":"c4863833.45a208","type":"ui_button","z":"52ed3af3.19d4a4","name":"","group":"2ec5bfb0.8976d","order":2,"width":0,"height":0,"passthru":false,"label":"Disconnect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":390,"y":200,"wires":[["92d60759.ddc108"]]},{"id":"5afb2001.6c24a","type":"ui_button","z":"52ed3af3.19d4a4","name":"","group":"a1f98b8e.b7b1b8","order":2,"width":0,"height":0,"passthru":false,"label":"Disconnect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":390,"y":680,"wires":[["992da268.19d4c"]]},{"id":"89d62e2f.cd1c3","type":"status","z":"52ed3af3.19d4a4","name":"","scope":["14b5e5de.aeca0a"],"x":880,"y":140,"wires":[["fed0f25b.fc5a9","9f79d234.1ba74"]]},{"id":"fed0f25b.fc5a9","type":"ui_text","z":"52ed3af3.19d4a4","group":"2ec5bfb0.8976d","order":2,"width":0,"height":0,"name":"","label":"Connection is {{status.text.toUpperCase()}}","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":140,"wires":[]},{"id":"c1dd676d.f523d8","type":"status","z":"52ed3af3.19d4a4","name":"","scope":["3822717d.4b7f5e"],"x":880,"y":620,"wires":[["a4d75338.10dc1","1f6f9b2e.5e9da5"]]},{"id":"a4d75338.10dc1","type":"ui_text","z":"52ed3af3.19d4a4","group":"a1f98b8e.b7b1b8","order":2,"width":0,"height":0,"name":"","label":"Connection is {{status.text.toUpperCase()}}","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":620,"wires":[]},{"id":"62a3880f.f07a68","type":"comment","z":"52ed3af3.19d4a4","name":"Update dashboard when connection #1 status change","info":"","x":1020,"y":100,"wires":[]},{"id":"aed6d8d1.95eab8","type":"comment","z":"52ed3af3.19d4a4","name":"Update dashboard when connection #2 status change","info":"","x":1020,"y":580,"wires":[]},{"id":"d8c4b029.8a491","type":"change","z":"a7505970.eda628","name":"","rules":[{"t":"set","p":"runAll","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":100,"wires":[["667dd221.7885ec"]]},{"id":"667dd221.7885ec","type":"link out","z":"a7505970.eda628","name":"","links":["2d8c9327.3dd03c"],"x":495,"y":100,"wires":[]},{"id":"2d8c9327.3dd03c","type":"link in","z":"b412d483.ab8908","name":"","links":["667dd221.7885ec"],"x":175,"y":100,"wires":[["cf496764.146748"]]},{"id":"691e2446.75633c","type":"change","z":"b412d483.ab8908","name":"runAll = false","rules":[{"t":"set","p":"runAll","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":80,"wires":[["cf496764.146748"]]},{"id":"e2bc334c.7a90c","type":"switch","z":"b412d483.ab8908","name":"","property":"runAll","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":4740,"wires":[["a9fc4a45.1234f8"]]},{"id":"a9fc4a45.1234f8","type":"link out","z":"b412d483.ab8908","name":"","links":["1c71fbee.f4c4e4"],"x":835,"y":4740,"wires":[]},{"id":"94784bbe.dbb628","type":"ui_button","z":"ced637bb.5a9148","name":"","group":"b4e40291.62333","order":2,"width":6,"height":1,"passthru":false,"label":"Start this test","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":60,"wires":[["1ecea28d.ea1a2d","17fa18da.611ae7"]]},{"id":"1c71fbee.f4c4e4","type":"link in","z":"ced637bb.5a9148","name":"","links":["a9fc4a45.1234f8"],"x":175,"y":100,"wires":[["a4be5bf4.e39d58"]]},{"id":"49650454.e1bbfc","type":"switch","z":"ced637bb.5a9148","name":"","property":"runAll","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":1120,"wires":[["3b54f6dd.44f2fa"]]},{"id":"3b54f6dd.44f2fa","type":"link out","z":"ced637bb.5a9148","name":"","links":["8ae2d52c.d49e88"],"x":655,"y":1120,"wires":[]},{"id":"bcb1019d.44e3","type":"ui_button","z":"19053cc8.6ac013","name":"","group":"791b1a80.48a154","order":2,"width":6,"height":1,"passthru":false,"label":"Start this test","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":60,"wires":[["29530200.969c0e","5efcc4c8.fc0e4c"]]},{"id":"8ae2d52c.d49e88","type":"link in","z":"19053cc8.6ac013","name":"","links":["3b54f6dd.44f2fa","9c9f25b0.faded8"],"x":175,"y":100,"wires":[["fec6cae1.62f608"]]},{"id":"2f06f278.f1803e","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":6,"width":24,"height":1,"name":"","label":"Check OCP trip","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":1020,"wires":[]},{"id":"227b169e.c0429a","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":7,"width":24,"height":1,"name":"","label":"Check Idle Power","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":1420,"wires":[]},{"id":"cb62ddac.ab735","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":8,"width":24,"height":1,"name":"","label":"Module initialization","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":1760,"wires":[]},{"id":"e0e62c0d.a9b75","type":"bb3-query","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","query":"SYSTem:SLOT:MODel? 3","x":650,"y":2360,"wires":[["3e8099f9.fafec6"]]},{"id":"3e8099f9.fafec6","type":"switch","z":"b412d483.ab8908","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"\"\"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":880,"y":2360,"wires":[["f288ac2.716ed5"],["33d3298.69f28d6"]],"outputLabels":["Not initialized","OK"]},{"id":"16a90b71.32f5d5","type":"switch","z":"b412d483.ab8908","name":"","property":"instrument1Status","propertyType":"global","rules":[{"t":"eq","v":"connected","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":2380,"wires":[["e0e62c0d.a9b75"],["61cca414.d9ae4c"]],"outputLabels":["Connected","Not connected"]},{"id":"9f79d234.1ba74","type":"change","z":"52ed3af3.19d4a4","name":"","rules":[{"t":"set","p":"instrument1Status","pt":"global","to":"status.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":260,"wires":[[]]},{"id":"1f6f9b2e.5e9da5","type":"change","z":"52ed3af3.19d4a4","name":"","rules":[{"t":"set","p":"instrument2Status","pt":"global","to":"status.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":720,"wires":[[]]},{"id":"36e38b23.13e3c4","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":9,"width":24,"height":1,"name":"","label":"SPI device initialization","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":2240,"wires":[]},{"id":"56a8d915.aed518","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":10,"width":24,"height":1,"name":"","label":"Check Output Voltage","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":2820,"wires":[]},{"id":"ae80eb24.f38ae8","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":11,"width":24,"height":1,"name":"","label":"Check Output Current 60 mA","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":3220,"wires":[]},{"id":"a3de8cf.009517","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":12,"width":24,"height":1,"name":"","label":"Check Output Current 25 mA","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":3600,"wires":[]},{"id":"4eaaba4b.b33644","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":14,"width":24,"height":1,"name":"","label":"Check Output Current 4.8 A","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":4160,"wires":[]},{"id":"77864a65.3366a4","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":15,"width":24,"height":1,"name":"","label":"Cleanup","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":4500,"wires":[]},{"id":"aca48c0.ffaf97","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"inst (@101)","x":220,"y":760,"wires":[["f9b555a1.9c3818"]]},{"id":"4ab5a655.8154f8","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"SYST:SLOT:STAT 3,0","x":270,"y":1980,"wires":[["a1ada453.c670b8"]]},{"id":"c360f8a3.356998","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"SYST:SLOT:STAT 3,1","x":540,"y":2540,"wires":[["295c6662.0c3a0a"]]},{"id":"295c6662.0c3a0a","type":"delay","z":"b412d483.ab8908","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":2540,"wires":[["11d8228c.ba78ad"]]},{"id":"1efe727e.ca783e","type":"bb3-query","z":"de87d3cf.70f61","name":"","connection":"e701286.3ff23d8","query":"SYST:ERR:COUN?","x":220,"y":40,"wires":[["4576e7d5.295258"]]},{"id":"bfbfa363.bf836","type":"bb3-query","z":"de87d3cf.70f61","name":"","connection":"e701286.3ff23d8","query":"SYST:ERR?","x":240,"y":180,"wires":[["e1c8a50d.a31ff8"]]},{"id":"4576e7d5.295258","type":"switch","z":"de87d3cf.70f61","name":"Any error?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":40,"wires":[["bfbfa363.bf836"],[]]},{"id":"e1c8a50d.a31ff8","type":"bb3-query","z":"de87d3cf.70f61","name":"","connection":"e701286.3ff23d8","query":"SYST:ERR:COUN?","x":260,"y":260,"wires":[["6c83ea0d.726904"]]},{"id":"6c83ea0d.726904","type":"switch","z":"de87d3cf.70f61","name":"More errors?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":260,"wires":[["bfbfa363.bf836"],[]]},{"id":"d0fc415a.eef48","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"SYST:SLOT:STAT 3,0","x":320,"y":2540,"wires":[["c360f8a3.356998"]]},{"id":"a001877f.6f8b28","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"volt 40V","x":230,"y":1200,"wires":[["544bab9a.29b7c4"]]},{"id":"6223aedd.73a22","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"curr 3.5","x":540,"y":1200,"wires":[["b54a9508.fb0fc8"]]},{"id":"1528d8cd.afbd07","type":"delay","z":"b412d483.ab8908","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":2960,"wires":[["6f04e8eb.e41af8"]]},{"id":"67de9119.e9868","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"CURR:LIM 5","x":260,"y":4300,"wires":[["3453817c.4f8e9e"]]},{"id":"544bab9a.29b7c4","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"CURR:LIM 5","x":390,"y":1200,"wires":[["6223aedd.73a22"]]},{"id":"61cca414.d9ae4c","type":"delay","z":"b412d483.ab8908","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270,"y":2340,"wires":[["16a90b71.32f5d5"]]},{"id":"1ecea28d.ea1a2d","type":"change","z":"ced637bb.5a9148","name":"runAll = false","rules":[{"t":"set","p":"runAll","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":80,"wires":[["a4be5bf4.e39d58"]]},{"id":"3b4cdcb2.584cb4","type":"ui_text","z":"ced637bb.5a9148","group":"b4e40291.62333","order":4,"width":24,"height":1,"name":"","label":"Check OCP trip","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":260,"wires":[]},{"id":"c14500b9.273a5","type":"ui_text","z":"ced637bb.5a9148","group":"b4e40291.62333","order":5,"width":24,"height":1,"name":"","label":"Cleanup","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":780,"wires":[]},{"id":"29530200.969c0e","type":"change","z":"19053cc8.6ac013","name":"runAll = false","rules":[{"t":"set","p":"runAll","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":80,"wires":[["fec6cae1.62f608"]]},{"id":"93d9e99.1128018","type":"ui_text","z":"19053cc8.6ac013","group":"791b1a80.48a154","order":5,"width":24,"height":1,"name":"","label":"Rsense connection test","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":680,"wires":[]},{"id":"90806421.8207a8","type":"ui_text","z":"19053cc8.6ac013","group":"791b1a80.48a154","order":6,"width":24,"height":1,"name":"","label":"Polarity error test","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":1060,"wires":[]},{"id":"2129fefa.5c8762","type":"bb3-query","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","query":"STAT:QUES:INST:ISUM2?","x":460,"y":900,"wires":[["bc5c3a2f.161ca8"]]},{"id":"266d3da7.5c5492","type":"bb3-query","z":"19053cc8.6ac013","name":"","connection":"e701286.3ff23d8","query":"STAT:QUES:INST:ISUM2?","x":920,"y":1180,"wires":[["12c6427c.f1b01e"]]},{"id":"bace2625.79ea48","type":"ui_media","z":"a7505970.eda628","group":"9e429f56.d0f7e","name":"","width":0,"height":0,"order":1,"category":"images","file":"simple-scenario.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":330,"y":220,"wires":[[]]},{"id":"bcb35615.623c68","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"volt 40V","x":620,"y":2480,"wires":[["ce70e313.78dda"]]},{"id":"ce70e313.78dda","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"CURR:LIM 5","x":770,"y":2480,"wires":[["b9ecd596.a4c6a8"]]},{"id":"b9ecd596.a4c6a8","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"curr 3.5","x":920,"y":2480,"wires":[["c07ba2ba.377c4"]]},{"id":"c07ba2ba.377c4","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"outp 1","x":1070,"y":2480,"wires":[["d0fc415a.eef48"]]},{"id":"dfb7d33.b4e1e3","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"inst (@101)","x":290,"y":2480,"wires":[["89120dac.a0499"]]},{"id":"f424549f.0e8678","type":"function","z":"ad1d317d.c7546","name":"increment phase","func":"global.set(\"phase\", global.get(\"phase\") + 1);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":240,"wires":[["1de17a70.fa4c36","221acd13.4e86d2"]]},{"id":"a4506dcf.9be64","type":"bb3-on-event","z":"ad1d317d.c7546","name":"","x":990,"y":240,"wires":[["d95388f9.e2c528"]]},{"id":"6ca124fe.dde4dc","type":"change","z":"ad1d317d.c7546","name":"-","rules":[{"t":"set","p":"payload","pt":"msg","to":"-","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":120,"wires":[[]]},{"id":"57154540.71bb8c","type":"inject","z":"ad1d317d.c7546","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","x":310,"y":120,"wires":[["6ca124fe.dde4dc"]]},{"id":"154f3c5e.e13164","type":"switch","z":"ad1d317d.c7546","name":"","property":"phase","propertyType":"global","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":220,"wires":[["f5eb056f.6ccf38"],["f424549f.0e8678"]]},{"id":"f5eb056f.6ccf38","type":"change","z":"ad1d317d.c7546","name":"","rules":[{"t":"set","p":"phase","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":180,"wires":[["f424549f.0e8678"]]},{"id":"3f46dda0.ccd252","type":"bb3-on-event","z":"ad1d317d.c7546","name":"","x":890,"y":40,"wires":[["6ca124fe.dde4dc"]]},{"id":"1de17a70.fa4c36","type":"function","z":"ad1d317d.c7546","name":"set eventName","func":"msg.eventName = \"bb3_phase\" + global.get(\"phase\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":240,"wires":[["a4506dcf.9be64"]]},{"id":"717722a8.2fb11c","type":"function","z":"ad1d317d.c7546","name":"set eventName to \"bb3_all_phases_reset\"","func":"msg.eventName = \"bb3_all_phases_reset\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":40,"wires":[["3f46dda0.ccd252"]]},{"id":"cf496764.146748","type":"subflow:ad1d317d.c7546","z":"b412d483.ab8908","name":"","x":130,"y":300,"wires":[["e703d520.fd3508"],[],["dd67f119.44ade"]]},{"id":"a6f6b7d6.4cc808","type":"subflow:ad1d317d.c7546","z":"b412d483.ab8908","name":"","x":130,"y":680,"wires":[["fd19d962.2d1a98"],[],["aca48c0.ffaf97"]]},{"id":"a212e597.b7f0b8","type":"subflow:ad1d317d.c7546","z":"b412d483.ab8908","name":"","x":130,"y":1060,"wires":[["2f06f278.f1803e"],[],["275192f6.d2b89e"]]},{"id":"429943d5.3fb31c","type":"subflow:ad1d317d.c7546","z":"b412d483.ab8908","name":"","x":130,"y":1440,"wires":[["227b169e.c0429a"],[],["f16b3186.5686b"]]},{"id":"a378c5d6.b37378","type":"subflow:ad1d317d.c7546","z":"b412d483.ab8908","name":"","x":130,"y":1780,"wires":[["cb62ddac.ab735"],[],["33f1505d.4c056"]]},{"id":"84ba48cb.32c1d8","type":"subflow:ad1d317d.c7546","z":"b412d483.ab8908","name":"","x":130,"y":2260,"wires":[["36e38b23.13e3c4"],[],["61cca414.d9ae4c"]]},{"id":"d2f60231.8d183","type":"subflow:ad1d317d.c7546","z":"b412d483.ab8908","name":"","x":150,"y":2840,"wires":[["56a8d915.aed518"],["a17a564e.145378"],["5e37866e.31b428"]]},{"id":"ff12128.e69abf","type":"subflow:ad1d317d.c7546","z":"b412d483.ab8908","name":"","x":150,"y":3240,"wires":[["ae80eb24.f38ae8"],["bcce435d.56e4b"],["83ffcdfe.5830d"]]},{"id":"aba70eed.94dfe","type":"subflow:ad1d317d.c7546","z":"b412d483.ab8908","name":"","x":150,"y":3620,"wires":[["a3de8cf.009517"],["662c5f1f.67142"],["a6df95b.8caca68"]]},{"id":"add8c104.8a881","type":"subflow:ad1d317d.c7546","z":"b412d483.ab8908","name":"","x":150,"y":4180,"wires":[["4eaaba4b.b33644"],["1d96c46d.b1f89c"],["b0c07935.8ad528"]]},{"id":"476decde.6634e4","type":"subflow:ad1d317d.c7546","z":"b412d483.ab8908","name":"","x":150,"y":4520,"wires":[["77864a65.3366a4"],[],["f4bb6795.1545d8"]]},{"id":"254dba16.b9a906","type":"bb3-query","z":"c0415da2.c94b6","name":"","connection":"e701286.3ff23d8","query":"SYST:ERR:COUN?","x":260,"y":100,"wires":[["aa476d67.fe7d1"]]},{"id":"3cdeb9f6.e3afd6","type":"bb3-query","z":"c0415da2.c94b6","name":"","connection":"e701286.3ff23d8","query":"SYST:ERR?","x":280,"y":240,"wires":[["254dba16.b9a906"]]},{"id":"aa476d67.fe7d1","type":"switch","z":"c0415da2.c94b6","name":"Any error?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":100,"wires":[["3cdeb9f6.e3afd6"],[]]},{"id":"33d3298.69f28d6","type":"subflow:c0415da2.c94b6","z":"b412d483.ab8908","name":"","x":300,"y":2440,"wires":[["dfb7d33.b4e1e3"]]},{"id":"a90b1418.90e028","type":"subflow:de87d3cf.70f61","z":"9592a005.811b","name":"","x":200,"y":100,"wires":[["8c32a55.a4be258"],["d5a23ee5.7c873"]]},{"id":"5d496ae6.976ea4","type":"subflow:9592a005.811b","z":"b412d483.ab8908","name":"","x":210,"y":460,"wires":[["a6f6b7d6.4cc808"]]},{"id":"fb9eca0e.100b68","type":"subflow:9592a005.811b","z":"b412d483.ab8908","name":"","env":[],"x":210,"y":860,"wires":[["a212e597.b7f0b8"]]},{"id":"b54a9508.fb0fc8","type":"subflow:9592a005.811b","z":"b412d483.ab8908","name":"","x":230,"y":1260,"wires":[["429943d5.3fb31c"]]},{"id":"8dc7674b.f45de8","type":"subflow:9592a005.811b","z":"b412d483.ab8908","name":"","x":230,"y":1580,"wires":[["a378c5d6.b37378"]]},{"id":"a92c1e7b.b6401","type":"catch","z":"b412d483.ab8908","name":"","scope":null,"uncaught":false,"x":600,"y":100,"wires":[["4083a040.f16ec"]]},{"id":"8c953d03.49876","type":"function","z":"d5fd25c6.a42208","name":"set eventName","func":"msg.eventName = \"bb3_phase\" + global.get(\"phase\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":80,"wires":[["16af402.a4959c"]]},{"id":"16af402.a4959c","type":"bb3-emit-event","z":"d5fd25c6.a42208","name":"","x":620,"y":80,"wires":[]},{"id":"e1c46bc4.cc0bb8","type":"subflow:d5fd25c6.a42208","z":"b412d483.ab8908","name":"","x":610,"y":1140,"wires":[]},{"id":"e9f1768.3f5a888","type":"subflow:d5fd25c6.a42208","z":"b412d483.ab8908","name":"","x":650,"y":1520,"wires":[]},{"id":"e6331644.48b548","type":"subflow:d5fd25c6.a42208","z":"b412d483.ab8908","name":"","x":830,"y":2960,"wires":[]},{"id":"18017536.56d21b","type":"subflow:d5fd25c6.a42208","z":"b412d483.ab8908","name":"","x":1070,"y":3320,"wires":[]},{"id":"9bf47c6f.9ae7a","type":"subflow:d5fd25c6.a42208","z":"b412d483.ab8908","name":"","x":1030,"y":3700,"wires":[]},{"id":"11ae907d.57e6c","type":"subflow:d5fd25c6.a42208","z":"b412d483.ab8908","name":"","x":1150,"y":4280,"wires":[]},{"id":"d5a23ee5.7c873","type":"change","z":"9592a005.811b","name":"FAILED","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAILED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":120,"wires":[["cd9a2901.728288"]]},{"id":"f81470cd.4baf5","type":"function","z":"9592a005.811b","name":"set eventName","func":"msg.eventName = \"bb3_phase\" + global.get(\"phase\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":80,"wires":[["4dba90c0.cbd58"]]},{"id":"4dba90c0.cbd58","type":"bb3-emit-event","z":"9592a005.811b","name":"","x":840,"y":40,"wires":[]},{"id":"8c32a55.a4be258","type":"change","z":"9592a005.811b","name":"DONE","rules":[{"t":"set","p":"payload","pt":"msg","to":"DONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":60,"wires":[["f81470cd.4baf5"]]},{"id":"ed50d94c.5eabf8","type":"change","z":"3d782151.31125e","name":"ERROR","rules":[{"t":"set","p":"payload","pt":"msg","to":"ERROR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":140,"wires":[["ea7abde1.d398d"]]},{"id":"ea7abde1.d398d","type":"function","z":"3d782151.31125e","name":"set eventName","func":"msg.eventName = \"bb3_phase\" + global.get(\"phase\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":140,"wires":[["c3f14789.f24fc8"]]},{"id":"c3f14789.f24fc8","type":"bb3-emit-event","z":"3d782151.31125e","name":"","x":820,"y":140,"wires":[]},{"id":"4083a040.f16ec","type":"subflow:3d782151.31125e","z":"b412d483.ab8908","name":"","x":750,"y":100,"wires":[]},{"id":"9fbb41.23e864c","type":"subflow:9592a005.811b","z":"b412d483.ab8908","name":"","x":230,"y":2040,"wires":[["b0a811a4.9658f"]]},{"id":"54fba1b1.23c38","type":"change","z":"27cf1b7e.c42054","name":"SKIPPED","rules":[{"t":"set","p":"payload","pt":"msg","to":"SKIPPED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["80c3cfe8.6dd57"]]},{"id":"80c3cfe8.6dd57","type":"function","z":"27cf1b7e.c42054","name":"set eventName","func":"msg.eventName = \"bb3_phase\" + global.get(\"phase\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":80,"wires":[["f3e3344f.c27d08"]]},{"id":"f3e3344f.c27d08","type":"bb3-emit-event","z":"27cf1b7e.c42054","name":"","x":580,"y":80,"wires":[]},{"id":"668bbc90.872d74","type":"subflow:27cf1b7e.c42054","z":"b412d483.ab8908","name":"","x":660,"y":1860,"wires":[["84ba48cb.32c1d8"]]},{"id":"11d8228c.ba78ad","type":"subflow:9592a005.811b","z":"b412d483.ab8908","name":"","x":250,"y":2600,"wires":[["d2f60231.8d183"]]},{"id":"7ba0b286.f0604c","type":"subflow:9592a005.811b","z":"b412d483.ab8908","name":"","x":250,"y":3020,"wires":[["ff12128.e69abf"]]},{"id":"ca2dc7d5.4d6758","type":"subflow:9592a005.811b","z":"b412d483.ab8908","name":"","x":270,"y":3380,"wires":[["aba70eed.94dfe"]]},{"id":"4ceaa457.681f0c","type":"subflow:9592a005.811b","z":"b412d483.ab8908","name":"","x":270,"y":3760,"wires":[["debac625.888138"]]},{"id":"fe1d46f1.b6aeb8","type":"subflow:9592a005.811b","z":"b412d483.ab8908","name":"","x":250,"y":4360,"wires":[["476decde.6634e4"]]},{"id":"c0b0cc2e.c81f6","type":"subflow:9592a005.811b","z":"b412d483.ab8908","name":"","x":250,"y":4680,"wires":[["e2bc334c.7a90c"]]},{"id":"7f29b7c9.2bb1b8","type":"function","z":"233730d3.98aea","name":"set eventName to \"bb3_all_phases_reset\"","func":"msg.eventName = \"bb3_all_phases_reset\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":80,"wires":[["5e338204.fc228c"]]},{"id":"5e338204.fc228c","type":"bb3-emit-event","z":"233730d3.98aea","name":"","x":580,"y":80,"wires":[]},{"id":"64847543.63a4cc","type":"subflow:233730d3.98aea","z":"a7505970.eda628","name":"","x":360,"y":160,"wires":[]},{"id":"20f4796.c0a1686","type":"catch","z":"ced637bb.5a9148","name":"","scope":null,"uncaught":false,"x":600,"y":100,"wires":[["dacb86f9.9da428"]]},{"id":"dacb86f9.9da428","type":"subflow:3d782151.31125e","z":"ced637bb.5a9148","name":"","x":750,"y":100,"wires":[]},{"id":"a4be5bf4.e39d58","type":"subflow:ad1d317d.c7546","z":"ced637bb.5a9148","name":"","x":170,"y":300,"wires":[["3b4cdcb2.584cb4"],["17678abe.900055"],["ce101553.7b9608"]]},{"id":"f67dfa53.5f1728","type":"subflow:9592a005.811b","z":"ced637bb.5a9148","name":"","x":250,"y":600,"wires":[["3301f37c.f794bc"]]},{"id":"3301f37c.f794bc","type":"subflow:ad1d317d.c7546","z":"ced637bb.5a9148","name":"","x":170,"y":820,"wires":[["c14500b9.273a5"],[],["d59148ca.9915a8"]]},{"id":"683c735b.17f50c","type":"subflow:9592a005.811b","z":"ced637bb.5a9148","name":"","x":250,"y":960,"wires":[["49650454.e1bbfc"]]},{"id":"bd5f6e78.c5e58","type":"subflow:d5fd25c6.a42208","z":"ced637bb.5a9148","name":"","x":1070,"y":540,"wires":[]},{"id":"763d3cf4.eecc94","type":"catch","z":"19053cc8.6ac013","name":"","scope":null,"uncaught":false,"x":600,"y":100,"wires":[["6682767f.d5ba18"]]},{"id":"6682767f.d5ba18","type":"subflow:3d782151.31125e","z":"19053cc8.6ac013","name":"","x":750,"y":100,"wires":[]},{"id":"fec6cae1.62f608","type":"subflow:ad1d317d.c7546","z":"19053cc8.6ac013","name":"","x":150,"y":340,"wires":[["6fc066cc.78f598"],[],["5f2db858.7dfa38"]]},{"id":"1c95f41d.c3669c","type":"subflow:9592a005.811b","z":"19053cc8.6ac013","name":"","x":230,"y":480,"wires":[["b990db24.89c0b8"]]},{"id":"b990db24.89c0b8","type":"subflow:ad1d317d.c7546","z":"19053cc8.6ac013","name":"","x":150,"y":720,"wires":[["93d9e99.1128018"],[],["5c162048.29a05"]]},{"id":"514811ab.83bb3","type":"subflow:9592a005.811b","z":"19053cc8.6ac013","name":"","x":210,"y":860,"wires":[["f32d53ee.eb45c"]]},{"id":"f32d53ee.eb45c","type":"subflow:ad1d317d.c7546","z":"19053cc8.6ac013","name":"","x":150,"y":1100,"wires":[["90806421.8207a8"],[],["8046afe7.dd534"]]},{"id":"a31a5840.e69668","type":"subflow:9592a005.811b","z":"19053cc8.6ac013","name":"","x":230,"y":1240,"wires":[[]]},{"id":"f288ac2.716ed5","type":"subflow:d5fd25c6.a42208","z":"b412d483.ab8908","name":"","x":1070,"y":2320,"wires":[]},{"id":"e703d520.fd3508","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":4,"width":24,"height":1,"name":"","label":"Initialization","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":260,"wires":[]},{"id":"af938d6d.28624","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"route:close (@203)","x":390,"y":400,"wires":[["5d496ae6.976ea4"]]},{"id":"9329c54f.1e45f8","type":"bb3-command","z":"635417a7.b52af8","name":"","connection":"e701286.3ff23d8","command":"OUTP:PROT:CLE","x":390,"y":740,"wires":[[]]},{"id":"370693d1.35893c","type":"subflow:c0415da2.c94b6","z":"635417a7.b52af8","name":"","env":[],"x":230,"y":220,"wires":[["ddf03168.20ef9"]]},{"id":"4fc147d8.8cc558","type":"bb3-query","z":"635417a7.b52af8","name":"","connection":"e701286.3ff23d8","query":"syst:pow?","x":450,"y":80,"wires":[["96fad9dc.e36878"]]},{"id":"96fad9dc.e36878","type":"switch","z":"635417a7.b52af8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":80,"wires":[["4c1be938.eb0948"],["370693d1.35893c"]]},{"id":"1d6bf789.829e78","type":"bb3-command","z":"635417a7.b52af8","name":"","connection":"e701286.3ff23d8","command":"syst:pow 1","x":910,"y":80,"wires":[["a204a70b.d62538"]]},{"id":"106d4738.e7ec09","type":"bb3-query","z":"635417a7.b52af8","name":"","connection":"e701286.3ff23d8","query":"syst:pow?","x":900,"y":140,"wires":[["aab0f94f.c1ede8"]]},{"id":"aab0f94f.c1ede8","type":"switch","z":"635417a7.b52af8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":140,"wires":[["c4bf90fd.0027f"],["370693d1.35893c"]]},{"id":"c4bf90fd.0027f","type":"subflow:d5fd25c6.a42208","z":"635417a7.b52af8","name":"","env":[{"name":"errMsg","value":"Can not power up device","type":"str"}],"x":1210,"y":140,"wires":[]},{"id":"ddf03168.20ef9","type":"bb3-query","z":"635417a7.b52af8","name":"","connection":"e701286.3ff23d8","query":"SYST:SLOT:MOD? 1","x":220,"y":340,"wires":[["e983f5e1.af2dd8"]]},{"id":"e983f5e1.af2dd8","type":"switch","z":"635417a7.b52af8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"DCP405","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":340,"wires":[["1b5c1bc7.0cec74"],["1fb6ebd3.551c74"]]},{"id":"11cbb64c.5f05da","type":"bb3-query","z":"635417a7.b52af8","name":"","connection":"e701286.3ff23d8","query":"SYST:SLOT:MOD? 2","x":220,"y":420,"wires":[["9cbd172c.b8c2b8"]]},{"id":"1b5c1bc7.0cec74","type":"subflow:d5fd25c6.a42208","z":"635417a7.b52af8","name":"","env":[{"name":"errMsg","value":"DCP405 is not in Slot 1","type":"str"}],"x":530,"y":300,"wires":[]},{"id":"9cbd172c.b8c2b8","type":"switch","z":"635417a7.b52af8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"SMX46","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":420,"wires":[["532b906.a2b9b7"],["3d3091d2.036a4e"]]},{"id":"532b906.a2b9b7","type":"subflow:d5fd25c6.a42208","z":"635417a7.b52af8","name":"","env":[{"name":"errMsg","value":"SMX46 is not in Slot 1","type":"str"}],"x":530,"y":400,"wires":[]},{"id":"ecce5528.a6e118","type":"bb3-command","z":"635417a7.b52af8","name":"","connection":"e701286.3ff23d8","command":"inst (@101)","x":190,"y":740,"wires":[["9329c54f.1e45f8"]]},{"id":"dd67f119.44ade","type":"subflow:635417a7.b52af8","z":"b412d483.ab8908","name":"","x":200,"y":400,"wires":[["af938d6d.28624"]]},{"id":"ce101553.7b9608","type":"subflow:635417a7.b52af8","z":"ced637bb.5a9148","name":"","x":240,"y":380,"wires":[["ce4e1cca.1b4f7"]]},{"id":"5f2db858.7dfa38","type":"subflow:635417a7.b52af8","z":"19053cc8.6ac013","name":"","x":220,"y":420,"wires":[["5b5b6424.4c981c"]]},{"id":"e7105d68.7f98c","type":"change","z":"d5fd25c6.a42208","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"errMsg","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":80,"wires":[["8c953d03.49876"]]},{"id":"ad1ef0ec.2ccab","type":"function","z":"542b1192.ff7ce","name":"set eventName to \"bb3_task<id>_phases_reset\"","func":"msg.eventName = `bb3_task${flow.get(\"$parent.taskId\")}_phases_reset`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":60,"wires":[["fa7e69d3.494478"]]},{"id":"fa7e69d3.494478","type":"bb3-emit-event","z":"542b1192.ff7ce","name":"","x":780,"y":60,"wires":[]},{"id":"b884438d.f8c65","type":"function","z":"ad1d317d.c7546","name":"set eventName to \"bb3_task<id>_phases_reset\"","func":"msg.eventName = `bb3_task${flow.get(\"$parent.taskId\")}_phases_reset`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":80,"wires":[["58e19b3c.293d84"]]},{"id":"47d84382.cd033c","type":"subflow:542b1192.ff7ce","z":"b412d483.ab8908","name":"","x":650,"y":60,"wires":[]},{"id":"17fa18da.611ae7","type":"subflow:542b1192.ff7ce","z":"ced637bb.5a9148","name":"","x":650,"y":60,"wires":[]},{"id":"5efcc4c8.fc0e4c","type":"subflow:542b1192.ff7ce","z":"19053cc8.6ac013","name":"","x":650,"y":60,"wires":[]},{"id":"3cc4ff4f.7ae1c","type":"inject","z":"806d7bba.e374f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":80,"wires":[["cf5d36ae.38e4e8"]]},{"id":"cf5d36ae.38e4e8","type":"function","z":"806d7bba.e374f8","name":"","func":"parent.set('taskId', env.get('taskId'));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":80,"wires":[[]]},{"id":"223022fe.65e93e","type":"inject","z":"b412d483.ab8908","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":430,"y":20,"wires":[["75873e47.eb53"]]},{"id":"75873e47.eb53","type":"change","z":"b412d483.ab8908","name":"taskId = DCP405_BasicTest","rules":[{"t":"set","p":"taskId","pt":"flow","to":"DCP405_BasicTest","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":20,"wires":[[]]},{"id":"21e6301a.188af","type":"change","z":"ced637bb.5a9148","name":"taskId = DCP405_HW_OVP","rules":[{"t":"set","p":"taskId","pt":"flow","to":"DCP405_HW_OVP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":20,"wires":[[]]},{"id":"beb080a.f57cf8","type":"inject","z":"ced637bb.5a9148","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":430,"y":20,"wires":[["21e6301a.188af"]]},{"id":"41ac0826.6dc698","type":"inject","z":"19053cc8.6ac013","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":430,"y":20,"wires":[["d7dbe940.71afb8"]]},{"id":"d7dbe940.71afb8","type":"change","z":"19053cc8.6ac013","name":"taskId = DCP405_Rsense","rules":[{"t":"set","p":"taskId","pt":"flow","to":"DCP405_Rsense","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":20,"wires":[[]]},{"id":"e17d35c9.798fe8","type":"inject","z":"ad1d317d.c7546","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payloadType":"str","x":310,"y":60,"wires":[["717722a8.2fb11c","b884438d.f8c65"]]},{"id":"58e19b3c.293d84","type":"bb3-on-event","z":"ad1d317d.c7546","name":"","x":870,"y":80,"wires":[["6ca124fe.dde4dc"]]},{"id":"d2eed79.3c4a128","type":"switch","z":"3d782151.31125e","name":"","property":"error.message","propertyType":"msg","rules":[{"t":"eq","v":"invalid state","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":220,"y":80,"wires":[["6d72ae32.8424b"],["ed50d94c.5eabf8"]]},{"id":"6d72ae32.8424b","type":"change","z":"3d782151.31125e","name":"ERROR","rules":[{"t":"set","p":"payload","pt":"msg","to":"Not connected","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":80,"wires":[["ea7abde1.d398d"]]},{"id":"4e42911e.d07ec","type":"bb3-query","z":"635417a7.b52af8","name":"","connection":"e701286.3ff23d8","query":"SYST:SLOT:MOD? 3","x":220,"y":520,"wires":[["56aeb297.9b332c"]]},{"id":"56aeb297.9b332c","type":"switch","z":"635417a7.b52af8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"DCP405","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":520,"wires":[["ecce5528.a6e118"],["ccf80272.778cd"]]},{"id":"7a52f6bf.845928","type":"bb3-command","z":"635417a7.b52af8","name":"","connection":"e701286.3ff23d8","command":"inst (@301)","x":310,"y":600,"wires":[["fd732fcb.a04d4"]]},{"id":"fd732fcb.a04d4","type":"bb3-command","z":"635417a7.b52af8","name":"","connection":"e701286.3ff23d8","command":"outp 0","x":550,"y":600,"wires":[["ecce5528.a6e118"]]},{"id":"a204a70b.d62538","type":"delay","z":"635417a7.b52af8","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":80,"wires":[["106d4738.e7ec09"]]},{"id":"4c1be938.eb0948","type":"delay","z":"635417a7.b52af8","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":80,"wires":[["1d6bf789.829e78"]]},{"id":"221acd13.4e86d2","type":"change","z":"ad1d317d.c7546","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"running...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":180,"wires":[[]]},{"id":"1fb6ebd3.551c74","type":"bb3-query","z":"635417a7.b52af8","name":"","connection":"e701286.3ff23d8","query":"SYST:SLOT:STAT?  1","x":560,"y":340,"wires":[["8a5d8c8d.63307"]]},{"id":"8a5d8c8d.63307","type":"switch","z":"635417a7.b52af8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":340,"wires":[["4967b5af.3177fc"],["510a66f.ae41598"]]},{"id":"4967b5af.3177fc","type":"subflow:d5fd25c6.a42208","z":"635417a7.b52af8","name":"","env":[{"name":"errMsg","value":"Module in Slot 1 is not enabled","type":"str"}],"x":870,"y":300,"wires":[]},{"id":"3d3091d2.036a4e","type":"bb3-query","z":"635417a7.b52af8","name":"","connection":"e701286.3ff23d8","query":"SYST:SLOT:STAT?  2","x":560,"y":440,"wires":[["98928073.11f2d"]]},{"id":"98928073.11f2d","type":"switch","z":"635417a7.b52af8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":440,"wires":[["7a8a89be.d70b48"],["9fea7d18.2ec73"]]},{"id":"7a8a89be.d70b48","type":"subflow:d5fd25c6.a42208","z":"635417a7.b52af8","name":"","env":[{"name":"errMsg","value":"Module in Slot 2 is not enabled","type":"str"}],"x":870,"y":400,"wires":[]},{"id":"ccf80272.778cd","type":"bb3-query","z":"635417a7.b52af8","name":"","connection":"e701286.3ff23d8","query":"SYST:SLOT:STAT?  3","x":560,"y":540,"wires":[["8c3192f7.93f53"]]},{"id":"8c3192f7.93f53","type":"switch","z":"635417a7.b52af8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":540,"wires":[["dc21e339.f4861"],["497510af.2dd41"]]},{"id":"510a66f.ae41598","type":"bb3-query","z":"635417a7.b52af8","name":"","connection":"e701286.3ff23d8","query":"DIAG:TEST?  SLOT1","x":900,"y":340,"wires":[["c0951bf4.0611e8"]]},{"id":"c0951bf4.0611e8","type":"switch","z":"635417a7.b52af8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":340,"wires":[["6eacb4df.3b090c"],["11cbb64c.5f05da"]]},{"id":"6eacb4df.3b090c","type":"subflow:d5fd25c6.a42208","z":"635417a7.b52af8","name":"","env":[{"name":"errMsg","value":"Error on module in Slot 1","type":"str"}],"x":1210,"y":300,"wires":[]},{"id":"9fea7d18.2ec73","type":"bb3-query","z":"635417a7.b52af8","name":"","connection":"e701286.3ff23d8","query":"DIAG:TEST?  SLOT2","x":900,"y":440,"wires":[["dcdb9e2e.36f67"]]},{"id":"dcdb9e2e.36f67","type":"switch","z":"635417a7.b52af8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":440,"wires":[["c2952503.8739f8"],["4e42911e.d07ec"]]},{"id":"c2952503.8739f8","type":"subflow:d5fd25c6.a42208","z":"635417a7.b52af8","name":"","env":[{"name":"errMsg","value":"Error on module in Slot 2","type":"str"}],"x":1210,"y":420,"wires":[]},{"id":"497510af.2dd41","type":"bb3-query","z":"635417a7.b52af8","name":"","connection":"e701286.3ff23d8","query":"DIAG:TEST?  SLOT3","x":900,"y":540,"wires":[["cd1ec28e.3046c"]]},{"id":"cd1ec28e.3046c","type":"switch","z":"635417a7.b52af8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":540,"wires":[["ecce5528.a6e118"],["7a52f6bf.845928"]]},{"id":"dc21e339.f4861","type":"subflow:d5fd25c6.a42208","z":"635417a7.b52af8","name":"","env":[{"name":"errMsg","value":"Module in Slot 3 is not enabled","type":"str"}],"x":870,"y":500,"wires":[]},{"id":"cf227e24.1ce09","type":"delay","z":"b412d483.ab8908","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":4000,"wires":[["8b1ce82f.e08a88"]]},{"id":"4b28e557.91ef9c","type":"switch","z":"b412d483.ab8908","name":"Check output current","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"2.3","vt":"num","v2":"2.7","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":4000,"wires":[["76564af3.235f44"],["d1a051a1.10635"]],"outputLabels":["OK","ERROR"]},{"id":"d78190a7.3f11f","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"CURR 2.5","x":450,"y":4000,"wires":[["cf227e24.1ce09"]]},{"id":"8b1ce82f.e08a88","type":"bb3-query","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","query":"meas:curr?","x":770,"y":4000,"wires":[["4b28e557.91ef9c"]]},{"id":"1362a8a0.ec9a47","type":"ui_text","z":"b412d483.ab8908","group":"dabf709f.40a93","order":13,"width":24,"height":1,"name":"","label":"Check Output Current 2.5 A","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":3860,"wires":[]},{"id":"df6b968e.4bc868","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"CURR:LIM 2.5","x":270,"y":4000,"wires":[["d78190a7.3f11f"]]},{"id":"debac625.888138","type":"subflow:ad1d317d.c7546","z":"b412d483.ab8908","name":"","x":150,"y":3880,"wires":[["1362a8a0.ec9a47"],["4ddd492f.3092b8"],["4761fd95.f1f724"]]},{"id":"d1a051a1.10635","type":"subflow:d5fd25c6.a42208","z":"b412d483.ab8908","name":"","x":1190,"y":3980,"wires":[]},{"id":"76564af3.235f44","type":"subflow:9592a005.811b","z":"b412d483.ab8908","name":"","x":250,"y":4060,"wires":[["add8c104.8a881"]]},{"id":"d95388f9.e2c528","type":"switch","z":"ad1d317d.c7546","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"DONE","vt":"str"},{"t":"eq","v":"SKIPPED","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1210,"y":280,"wires":[[],[],[]]},{"id":"1ae984f.766547b","type":"link in","z":"b412d483.ab8908","name":"Cleanup","links":["a17a564e.145378","bcce435d.56e4b","662c5f1f.67142","4ddd492f.3092b8","1d96c46d.b1f89c"],"x":55,"y":4600,"wires":[["476decde.6634e4"]]},{"id":"a17a564e.145378","type":"link out","z":"b412d483.ab8908","name":"","links":["1ae984f.766547b"],"x":305,"y":2860,"wires":[]},{"id":"bcce435d.56e4b","type":"link out","z":"b412d483.ab8908","name":"","links":["1ae984f.766547b"],"x":295,"y":3260,"wires":[]},{"id":"662c5f1f.67142","type":"link out","z":"b412d483.ab8908","name":"","links":["1ae984f.766547b"],"x":295,"y":3640,"wires":[]},{"id":"4ddd492f.3092b8","type":"link out","z":"b412d483.ab8908","name":"","links":["1ae984f.766547b"],"x":295,"y":3900,"wires":[]},{"id":"1d96c46d.b1f89c","type":"link out","z":"b412d483.ab8908","name":"","links":["1ae984f.766547b"],"x":295,"y":4200,"wires":[]},{"id":"14d65ecb.38c4e1","type":"link in","z":"ced637bb.5a9148","name":"Cleanup","links":["17678abe.900055"],"x":105,"y":1060,"wires":[["3301f37c.f794bc"]]},{"id":"17678abe.900055","type":"link out","z":"ced637bb.5a9148","name":"","links":["14d65ecb.38c4e1"],"x":315,"y":300,"wires":[]},{"id":"d59148ca.9915a8","type":"bb3-command","z":"ced637bb.5a9148","name":"","connection":"e701286.3ff23d8","command":"INST (@301)","x":250,"y":900,"wires":[["2129fefa.5c8762"]]},{"id":"1fa0c024.2ca7","type":"delay","z":"b412d483.ab8908","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":4600,"wires":[["ce6e321d.3efb4"]]},{"id":"89120dac.a0499","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"sens:curr:rang 5","x":460,"y":2480,"wires":[["bcb35615.623c68"]]},{"id":"7d8c917c.50595","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"curr:prot:del 1","x":460,"y":3940,"wires":[["94d2f047.f0cef"]]},{"id":"4761fd95.f1f724","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"inst (@101)","x":270,"y":3940,"wires":[["7d8c917c.50595"]]},{"id":"94d2f047.f0cef","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"INST (@301)","x":630,"y":3940,"wires":[["df6b968e.4bc868"]]},{"id":"e5156a67.079478","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"volt 35V","x":440,"y":4260,"wires":[["b3d0a24f.93875"]]},{"id":"b0c07935.8ad528","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"inst (@101)","x":290,"y":4260,"wires":[["e5156a67.079478"]]},{"id":"b04b0dcb.8c1da","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"INST (@301)","x":730,"y":4260,"wires":[["67de9119.e9868"]]},{"id":"b3d0a24f.93875","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"curr 4.4A","x":580,"y":4260,"wires":[["b04b0dcb.8c1da"]]},{"id":"cd9a2901.728288","type":"function","z":"9592a005.811b","name":"set eventName","func":"msg.eventName = \"bb3_phase\" + global.get(\"phase\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":180,"wires":[["ca0f86d9.d466e8"]]},{"id":"ca0f86d9.d466e8","type":"bb3-emit-event","z":"9592a005.811b","name":"","x":800,"y":180,"wires":[]},{"id":"ac59d54e.8347c8","type":"bb3-command","z":"b412d483.ab8908","name":"","connection":"e701286.3ff23d8","command":"curr 30mA","x":210,"y":800,"wires":[["8b5e35e2.c43448"]]}]